#companies-search textarea:focus, #companies-search input:focus, #companies-search select:focus, #companies-search password:focus  {
   border-color: rgba(82, 168, 236, 0.9);
   box-shadow: 0 1px 1px rgba(0, 2, 2, 0.075) inset, 0 0 3px rgba(82, 168, 236, 0.7) inset;
   outline: 0 none;
}

#companies-search textarea.required, #companies-search input.required, #companies-search select.required , #companies-search div.required a{
   border-color: rgba(82, 168, 236, 0.9);
   box-shadow: 0 1px 1px rgba(0, 5, 5, 0.085) inset, 0 0 3px rgba(254, 9, 0, 1) inset;
   outline: 0 none;
}

.ui-autocomplete-loading {
	background: white url('../images/loading_small.gif') right center no-repeat;
}

#loading-geo-locaiton{
	height: 15px;
    width: 17px;
	display: inline-block;
};

#searchform .form-container {
    float: left;
}

#searchform .form-field {
  float: left;
	
	position: relative;
	line-height: 42px;
}

#modlgn-username{
  width: 126% !important;
  display: inline-flex;
	height: 14px;
	background-color: #fff;
}

#modlgn-passwd{
      width: 156% !important;
}

#login-form button{
	width:100%;
}

.make_for_you_search{
	      border: 1.5px solid !important;
	  
	    font-size:14px ;
}

#searchform .form-field div.custom-div{
	float: left;
	line-height: 42px;
	margin-right: 5px;
}
#searchform .form-field div.custom-div input{
	margin: 0 3px 0 0;
}





#searchform .form-field label{
	float: left;
	margin: 0 10px 0 0;
	line-height: 40px;
}

#searchform .form-field select, #searchform .form-field input[type="text"]{
	/*border-color: #9B9B9B #EDEDED #DDDDDD #C2C2C2;*/
	background-color: #FFFFFF;
	border-radius: 5px;
	display: inline-block;
	color: #333333;
	font-size: 14px;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	margin: 0;
	/*padding: 0px 13px;*/
	
	position: relative;
}

#searchform .chosen-container-single {
	height: 39px;
}

#searchform .chosen-container-single .chosen-search input[type="text"]{
	width: 100%;
}

.chosen-container-single .chosen-single div:before {
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content:"\f107";
	font-size: 19px;
    display: block;
    line-height: 45px;
    text-align: center;

}

.chosen-container-single .chosen-single div{
	 width: 23px;
}

#searchform .form-field .detail_box{
	float: left;
	margin: 5px 10px 0 0;
    position: relative;
    width: 222px;
}

#searchform .form-field .detail_box div{
	float:left;
	margin: 5px 10px 0 0;
}

#searchform .form-field input{
}

#searchform .form-field select {
    height: 40px;
}


#companies-search.vertical{
	/*background-color: #FAFAFA;*/
	/*padding: 5px 10px;*/
	padding: 0px;
}

#companies-search.vertical input[type="text"]{
	/*width: 100%;*/
	
	text-indent: 10px !important;
	font-size: 14px ;
	line-height: normal;
	/*background: transparent !important;*/
	border: 3px solid #ffffff !important;
	/*background: rgb(160, 160, 160);
	color: #fffbfb;*/
	
	background: rgb(255, 255, 255) !important;
	color: rgb(29, 105, 166) !important;
	/*box-shadow: 0 1px 1px rgba(0, 2, 2, 0.075) inset, 0 0 3px rgba(82, 168, 236, 0.7) inset;*/
	border: 2px solid #1b67a5 !important;
	outline: 0 none;
	font-weight: normal !important;
    
}

#companies-search.vertical input[type="text"]::-webkit-input-placeholder {
    color: rgb(29, 105, 166) !important;
}

#companies-search.vertical #zipcode{
	border: 2px solid #1b67a5 !important;
}

#companies-search.vertical .dir-icon-bullseye{
	/*right: 14px;*/
  right: -1px;
  top: 2px;
  display:none !important;
}

#companies-search.vertical .form-field{
	float: none;
	clear: both;
	padding: 0 !important;
	
}

#companies-search.vertical .form-field select{
	width: 100%;
	font-size: 14px;
  	text-indent: 6px;
	display:block;
	    border: 2px solid #1b67a5 !important;
	/*border: 3px solid #ffffff !important;*/
	/*background: rgb(160, 160, 160); */
	    background: rgb(255, 255, 255) !important;
	        color: rgb(29, 105, 166) !important;
}

#companies-search.vertical .form-container{
	float: none;
}


.bg_fff{
	    background: #0077c1 !important;
	color:#fff !important;
    border-color: #d9d9d9 !important;
}


#companies-search.vertical  label{
	font-size: 13px;
	top: 0px;
}


#current-search {
    color: #FFFFFF;
    font-size: 1.1em;
    float: left;
    line-height: 40px;
    padding:  0 10px;
}

#categories-link {
    font-size: 1.3em;
	color: #FFFFFF;
	float: left;
	line-height: 32px;
	padding: 4px;
	margin-left: 100px;
}

.custom-combobox {
	position: relative;
	display: inline-block;
}

.custom-combobox-toggle {
	/* position: absolute;  */
	top: 0;
	bottom: 0;
	/* margin-left: -1px; */
	padding: 0;
	/* support: IE7 */
	*height: 1.7em;
	*top: 0.1em;
}

.custom-combobox-input {
	margin: 0;
	padding: 0.3em;
}

/*-- autocomplete ---*/

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 200px;
}

.ui-autocomplete.ui-front.ui-menu{
	z-index: 11000!important;
}

#searchform .ui-button{
	height: 29px;
	margin-left:1px;
}

.ui-icon-triangle-1-s {
    background-position: -128px 0;
}

.make_hons{
	
	width:284% !important;
	margin-left:2% !important;
	margin-top:14% !important;
}

#companies-search .dir-icon-bullseye{
 	background: #eeeeee;
    border-radius: 0 5px 5px 0;
    color: #555;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 31px;
    z-index: 1;
    margin: 0;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#companies-search .dir-icon-bullseye:hover{
	 font-size: 23px;
	 background: #FAFAFA;
	-webkit-transform: translate3d(0, 0, 10px);
    -moz-transform: translate3d(0, 0, 10px);
    -ms-transform: translate3d(0, 0, 10px);
    -o-transform: translate3d(0, 0, 10px);
}

#companies-search .dir-icon-map-marker{
  top: 14px;
left: 10px;
font-size: 17px;
z-index: 1;
position: absolute;
cursor: pointer;
text-align: center;
color: #555;
margin: 0;
}

#searchform  #zipcode{
	/*padding-left: 30px !important;*/
	/*width: 180px;*/
}


#dir-search-preferences:before {
    border-color: transparent  transparent #ffffff;
    border-style: solid;
    border-width:0 7px 8px;
    top: -8px;
    content: "";
    height: 0;
    position: absolute;
    right: 13px;
    width: 0;
}


#dir-search-preferences{
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #afafaf;
    box-shadow: 1px 1px 0 rgba(80, 80, 80, 0.2);
    color: #333333;
    display: block;
    padding: 10px 10px;
    position: absolute;
    right: 0;
    top: 50px;
    width: 245px;
    z-index: 999;
}

#searchform h3.title{
	font-size: 19px;
	line-height: 23px;
}


#searchform h3.title i.dir-icon-close{
	border-radius: 50%;
	background-color: #BABABA;
	width: auto;
	height: auto;
	float: right;
	padding: 5px 8px;
	color: #FAFAFA;
	cursor: pointer;
	font-size: 14px;
}

#searchform .geo-radius{
	padding-bottom: 3px;
}

#searchform  .geo-location{
	clear: both;
	float: right;
	padding-top: 10px;
	font-size: 13px;
}

.geo-location .toggle{
	  background-color: #f5f5f5;
	  border-color: #bbb #bbb #a2a2a2;
	  padding: 4px 12px;
	  text-align: center;
	  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	  text-decoration: none;
	  font-size: 12px !important;
}

.geo-location .toggle.btn-on.active{
	background-color: #83b802;
	color: #FFFFFF;
}

.geo-location .toggle.btn-off.active{
	background-color: #bd362f;
	color: #FFFFFF;
}
#companies-map img{
    width: auto;
    max-width: none ;
}


#bg_are_you{
		    background-position: 100%;
	}


#red_school{
	margin-left: 28px;
}

#_01_sub_to{
	
    margin-left: -5%;
}


@media (max-width: 480px) {
	#dir-search-preferences{
		left:0;
	}

	#dir-search-preferences::before{
		left: 13px;
	}
}





@media (max-width: 1180px) {
	#gruemenu.grue_128 ul li:first-child > a{
		padding-left: 8px  !important;
	}
	
	#gruemenu > ul > li.has-sub > a{
		    padding-right: 36px !important;
	}
}


@media (max-width: 1140px) {
	#gruemenu.grue_128 ul li:first-child > a{
		padding-left: 8px  !important;
	}
	#gruemenu > ul > li.has-sub > a{
		    padding-right: 36px !important;
	}
}


@media (max-width: 1200px) {
	#gruemenu.grue_128 ul li:first-child > a{
		padding-left: 8px  !important;
	}
}


@media (max-width: 568px) {
	div[class^='span3 yahoo_b'] #searchform .form-field select, #searchform .form-field input[type="text"] {
    	color: #1d69a8 !important;
	}
	.h1_txt_search_page {
    color: #fff !important;
}
}
@media (max-width: 600px) {
	div[class^='span3 yahoo_b'] #searchform .form-field select, #searchform .form-field input[type="text"] {
    	color: #1d69a8 !important;
	}
	.h1_txt_search_page {
    color: #fff !important;
}
}

@media (max-width: 1130px) {

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { 
@media {
    .safari_only { 

        

    }
}}
	
	
	#gruemenu.grue_128 ul li:first-child > a{
		padding-left: 9px  !important;
	}
	.text_login_top{
		  
		    font-size: 14px !important;
	}
	#je-login .je_button span, a span.je_dropbtn-inner{
		    padding: 8px 9px !important;
	}
	.top-header{
		padding: 20px !important;
	}
}

@media (max-width: 1120px) {
	

	#gruemenu.grue_128 ul li:first-child > a{
		padding-left: 9px  !important;
	}
	.text_login_top{
		  ƒ
		    font-size: 14px !important;
	}
	#je-login .je_button span, a span.je_dropbtn-inner{
		    padding: 8px 9px !important;
	}
	.top-header{
		padding: 20px !important;
	}
}





@media (max-width: 1080px) {
	

	#gruemenu.grue_128 ul li:first-child > a{
		padding-left: 9px  !important;
	}
	.text_login_top{
		
    	font-size: 13px !important;
	}
	#je-login .je_button span, a span.je_dropbtn-inner{
		    padding: 8px 9px !important;
	}
	.top-header{
		padding: 20px !important;
	}
	#gruemenu.grue_128, #gruemenu.grue_128 ul, #gruemenu.grue_128 ul li, #gruemenu.grue_128 ul > li > a{
		font-size: 12px !important;
	}
}



@media (max-width: 1032px) {
	

	#gruemenu.grue_128 ul li:first-child > a{
		padding-left: 9px  !important;
	}
	.text_login_top{
		
    	font-size: 13px !important;
	}
	#je-login .je_button span, a span.je_dropbtn-inner{
		    padding: 10px 10px !important;
	}
	.top-header{
		padding: 20px !important;
	}
	#gruemenu.grue_128, #gruemenu.grue_128 ul, #gruemenu.grue_128 ul li, #gruemenu.grue_128 ul > li > a{
		font-size: 12px !important;
	}
}


@media (max-width: 1024px) {
	#gruemenu.grue_128 ul li:nth-child(3) ul li a, #navigation-toggle{
		width: auto !important;	
	}
	
	.top_search_category {
   		top: 0px !important;
    left: 0% !important;
    margin: 0px !important;
    margin-bottom: 30px !important;
    position: relative;
	}

	#search_home_page > #aside{
		width: 100% !important;
		margin: 0 !important;
	}

	/*.brand img{
		width:100% !important;
	}*/
	#w_a1{
		margin-top: 0px !important;
	    margin-bottom: 0px !important;
	    margin-left: 0px !important;
	    padding: 0px 15px !important;
	}

	.top-header {
    	padding: 26px !important;
	}
	
	
	/*Section Welcome*/
	#sec_welcome_sub{
		font-size: 18.98pt !important;
	}
	#sec_welcome_img{
		width: 65% !important;
	}
	.text_wel span{
		    font-size: 18px !important;
	}
	
	/*Section Email*/
	#sec_sub_email{
		    font-size: 19pt !important;
	}
	#icon_sec_email{
		margin-top: -5px !important;
	}
	
	/*Section Are you a school*/
	#sec_txt_areyou_1{
		font-size:40px !important;
	}
	#sec_div_areyou_1{
		width: 80.333333% !important;
	}
	#sec_div_areyou_2{
		width: 33% !important;	
	}
	.triangle_blue{
		    margin-left: 16% !important;
	}
	#blue_school{
		width: 90% !important;
	}
	
	#red_school{
		    width: 130% !important;
	}
	
	
	/*Section NEWS*/
	._news_eiasu{
		width: 100% !important;
		padding-top: 35px ;
	}
	._txt_news{
		    font-size: 32px !important;
	}
	._txt_news_dec{
		font-size: 19px  !important;
		line-height: 29px  !important;
	}
	
	
	/*EISAU Can Help You Procure*/
	#row_can_help_procure{
		    margin-left: 15px !important;
		    margin-right: 15px !important;
		    
	}
	
	._text_he_m1{
		font-size: 19pt !important;
	}
	

}




@media (max-width: 768px) {
	
	

.kindergardenFacilities h2 {
    color: #55606E;
    font-size: 23px;
    font-weight: 200;
    font-family: Lato, Helvetica, Arial, sans-serif;
    margin-bottom: 36px;
}
#manood_tk {
    background-size: 295% !important;
    background-position: 49% 100% !important;
}
	
	
	div[class^='span3 yahoo_b'] #companies-search .dir-icon-bullseye {
    	top: -4px !important;
    	line-height: 27px !important;
    	height: 27px !important;
	}
	
	.top-header {
    	padding: 26px !important;
	}
	#companies-search .dir-icon-bullseye{
		top: -3.2px !important;
    	line-height: 27px !important;
    	height: 27px !important;
	}
	#clone_wall_wat h1{
		font-size: 33px !important;
	}
	.brand img{
		width: auto !important;
		    margin-bottom: 18px;
	}
	.yahoo_slide{
		margin-left: auto !important;	
    	
	}
	
	#sec_welcome_sub {
    	font-size: 18.98pt !important;
    	line-height: 38px !important;
	}
	
	.text_head_subscribe{
		    line-height: 50px;
		    font-size: 34px;
	}
	#text_intro_kindergarden1 p{
		 margin-left: 0px;
	}
	#sec_sub_email{
		font-size: 17.5pt !important;
	}
	
	#sec_txt_areyou_1{
		font-size: 36px !important;
		    letter-spacing: 6.4px !important;
	}
	
	.triangle_blue{
		margin-left: 3.3% !important;
	}
	#sec_div_areyou_1{
		    margin-left: -26% !important;
	}
	#blue_school{
		       width: 112% !important;
    		   margin-left: -35% !important;
	}
	#red_school{
		    margin-left: -14% !important;
		    width: 162.5% !important;
	}
	
	
	._news_eiasu{
		    width: 96% !important;
	}
	._img_news{
		
		padding-bottom: 31px;
	}

	
	#_sub_footer_eisau {
    	font-size: 14pt !important;
	}
	
}


@media only screen and (max-width: 425px) {
	div[class^='djslider djslider-default img-vcenter']{
		width: 92% !important;
    
	}
	#Map_blue,#Map_red{
		padding-bottom: 10%;
	}
  	.text_head_subscribe {
	    line-height: 50px;
	       font-size: 27px !important;
	    margin-bottom: -16px !important;
	}
	#txt_sub_to_new{
		    font-size: 18px !important;
	}
	.kindergardenFacilities h2{
	      font-size: 24px !important;
    	margin-bottom: 17px;
	   
	    font-weight: 200;
	   
	}
	#icon_sec_email{
		    font-size: 51px;
	}
	
	._div_blue_school_00A1{
		margin-left: 8px !important;
	    margin-right: 3px !important;

	}
	#sec_div_areyou_1  h2,.txt_h2_areyouschool{
		    font-size: 30px !important;
		    padding-bottom: 12px !important;
		    padding-top: 12px !important;
	}
	.txt_h2_areyouschool{
		margin-left: 6px !important;
	}
	#btn_sub_search_register_school {
    height: 60px;
    width: 93.3%;
    margin-left: 16px;
    color: #FFFFFF;
    border: 0;
    background: #eb3b32;
    border-radius: 4px;
    margin-top: 15px;
     border-bottom-left-radius: 4px !important; 
     border-top-left-radius: 4px !important; 
         border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
	}
}
@media only screen and (max-width: 414px) {
	.text_head_subscribe {
    	line-height: 50px;
    	font-size: 27px;
    	margin-bottom: -30px !important;
	}
	
	#searchform .form-field select, #searchform .form-field input[type="text"] {
   	 width: 345px !important;
    	font-size: 14px !important;
	}


}

@media only screen and (max-width: 360px) {
	.text_head_subscribe {
    line-height: 50px;
    font-size: 23px !important;
    margin-bottom: -30px !important;
}
._txt_news,._txt_news strong{
		font-size: 24px !important;
	}
	
.kindergardenFacilities h2 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
}

}



@media (max-width: 768px) {
	
	
	#sub_cat  p{
		    line-height: 20px !important;
	}
	/*.top_search_category { 
	  top: 238px !important;
    left: 50% !important;
    margin-left: -269px !important;
    padding: 5px !important;
	} */
	.top-header {
    	padding: 26px !important;
	}
	#companies-search .dir-icon-bullseye{
		top: -3.2px !important;
    	line-height: 27px !important;
    	height: 27px !important;
	}
	#clone_wall_wat h1{
		font-size: 33px !important;
	}
	.brand img{
		width: auto !important;
		    margin-bottom: 18px;
	}
	.yahoo_slide{
		margin-left: auto !important;	
    	
	}
	
	#sec_welcome_sub {
    	font-size: 18.98pt !important;
    	line-height: 38px !important;
	}
	
	.text_head_subscribe{
		    line-height: 50px;
		    font-size: 34px;
	}
	#form-id-subscrib input{
		    width: 80% !important;
    margin-left: 8% !important;
        height: 28px;
	}
	#text_intro_kindergarden1 p{
		 margin-left: 0px;
	}
	#sec_sub_email{
		font-size: 17.5pt !important;
	}
	
	#sec_txt_areyou_1{
		font-size: 36px !important;
		    letter-spacing: 6.4px !important;
	}
	
	.triangle_blue{
		margin-left: 3.3% !important;
	}
	#sec_div_areyou_1{
		    margin-left: -26% !important;
	}
	#blue_school{
		       width: 112% !important;
    		   margin-left: -35% !important;
	}
	#red_school{
		    margin-left: -14% !important;
		    width: 162.5% !important;
	}

	._news_eiasu{
		    width: 100% !important;
	}
	._img_news{
		
	}

	#_sub_footer_eisau {
    	font-size: 14pt !important;
	}
	
}




@media (max-width: 640px) {
	
	.djslider-default.img-vcenter img.dj-image{
		opacity: 1 !important;
	}
	#sec_welcome_img {
    	width: 100% !important;
	}
	#sec_welcome_sub{
		    font-size: 19pt !important;
	}
	#sec_sub_email {
    	font-size: 16.5pt !important;
	}
	#sec_welcome{
		font-size: 38px !important;
	}
	#_01_sub_to{
		    margin-left: -32px !important;
		    margin-bottom: 26px !important;
	}
	#text_intro_kindergarden1 input{
		height: 29px !important;
	}
	#_ffko{
		margin-left: -20% !important;
	}
	.triangle_red{
		display:none !important;
	}
	#blue_school{
		width:70% !important;
	margin-left:2% !important;
	margin-top:14% !important;
	margin-bottom: 21%;
	}
	#sec_div_areyou_2 {
    	width: 100% !important;
	}
	#red_school{
		width: 90% !important;
    margin-left: 3% !important;
    margin-top: 7% !important;
    margin-bottom: 21%;
	}
	
	#sec_div_areyou_1 {
    	margin-left: 22% !important;
	}
	#sec_txt_areyou_1 {
    	font-size: 30px !important;
    	letter-spacing: 5.4px !important;
 	}
	._img_news {
   	 margin-left: 0% !important;
	}
	#_sub_footer_eisau {
    	font-size: 11pt !important;
	}
	h1[class^='section-title dark_title'] span{
		font-size: 43px !important;
	}
	
	._text_he_m1 {
    	font-size: 19pt !important;
    	line-height: 37px;
	}

}

@media only screen and (max-width: 600px) {
  /* #clone_wall_wat{
		width: 90.1% !important;
	}*/
	#searchform .form-field select, #searchform .form-field input[type="text"] {
    width: 99.5% !important;
    font-size: 14px !important;
}
}


@media (max-width: 603px) {
	
	#searchform .form-field select, #searchform .form-field input[type="text"]{
		/*width: 184px !important;*/
		    font-size: 14px !important;
	}
	
	/*.top_search_category {
	    top: 206px !important;
    	left: 13% !important;
	}*/
	
	#sec_welcome{
		font-size: 41px !important;
	}
	.text_wel span {
    	font-size: 17px !important;
	}
	
	.triangle_red{
		display:none !important;
	}
	#text_intro_kindergarden1 input{
		height: 29px !important;
	}
	#_ffko{
		margin-left: -20% !important;
	}
	.triangle_red{
		display:none !important;
	}
	#blue_school{
		width: 70% !important;
	    margin-left: 2% !important;
	    margin-top: 7% !important;
	    margin-bottom: 7%;
	}
	#sec_div_areyou_2 {
    	width: 100% !important;
	}
	#red_school{
	width: 87% !important;
    margin-left: 3% !important;
    margin-top: 7% !important;
    margin-bottom: 8%;
	}
	
	#sec_div_areyou_1 {
    	margin-left: 22% !important;
	}
	#sec_txt_areyou_1 {
    	font-size: 30px !important;
    	letter-spacing: 5.4px !important;
 	}
	._img_news {
   	 margin-left: 0%;
	}
	#_sub_footer_eisau {
    	font-size: 11pt !important;
	}
	h1[class^='section-title dark_title'] span{
		font-size: 43px !important;
	}
	
	._text_he_m1 {
    	font-size: 19pt !important;
    	line-height: 37px;
	}
	
}


@media (max-width: 425px) {

	
	table[id^='main_cat'] thead tr:nth-child(2) th:nth-child(1){
		display:none;
	}
	table[id^='main_cat'] thead tr:nth-child(2) th:nth-child(4){
		display:none;
	}
	
	table[id^='main_cat'] thead tr:nth-child(2) th:nth-child(2){
	 	padding: 0 0px 0 20px;
	}
	

	
	table[id^='main_cat'] tbody tr td{
   		 display: block;
   		 padding: 0 0px 0 20px;
	}
	table[id^='main_cat'] tbody tr td a{
   		 padding: 0 0px 0 20px;
	}
	table[id^='main_cat'] tbody tr td{
   		 border-bottom: 1px solid #ddd;
	}
	
	
	

	
	
	
	

	   
	
	
	
	
	#sub_cat  img{
		display:none !important;
	}
	
	
	input[class^='emaddress']{
		width: 95% !important;
    	margin-left: 0% !important;
	}
	
	.djslider-default.img-vcenter img.dj-image{
		opacity: 1 !important;
	}
	#sec_welcome_img {
    	width: 100% !important;
	}
	#sec_welcome_sub{
		    font-size: 19pt !important;
	}
	#sec_sub_email {
    	font-size: 16.5pt !important;
	}
	#sec_welcome{
		font-size: 38px !important;
	}
	#_01_sub_to{
		    margin-left: -32px !important;
		    margin-bottom: 26px !important;
	}
	#text_intro_kindergarden1 input{
		height: 29px !important;
	}
	#_ffko{
		margin-left: -20% !important;
	}
	.triangle_red{
		display:none !important;
	}
	#blue_school{
		width:97% !important;
	margin-left:2% !important;
	margin-top:14% !important;
	margin-bottom: 21%;
	}
	#sec_div_areyou_2 {
    	width: 100% !important;
	}
	#red_school{
		width: 97% !important;
    margin-left: 3% !important;
    margin-top: 7% !important;
    margin-bottom: 21%;
	}
	
	#sec_div_areyou_1 {
    	margin-left: 22% !important;
	}
	#sec_txt_areyou_1 {
    	font-size: 30px !important;
    	letter-spacing: 5.4px !important;
 	}
	._img_news {
   	 margin-left: 0%;
	}
	#_sub_footer_eisau {
    	font-size: 11pt !important;
	}
	h1[class^='section-title dark_title'] span{
		font-size: 43px !important;
	}
	
	._text_he_m1 {
    	font-size: 19pt !important;
    	line-height: 37px;
	}

}


@media (max-width: 460px) {
	#clone_wall_wat{
		display:none;
	}
	.djslider-default.img-vcenter img.dj-image{
		opacity: 1 !important;
	}
	#sec_welcome_img {
    	width: 100% !important;
	}
	#sec_welcome_sub{
		    font-size: 19pt !important;
	}
	#sec_sub_email {
    	font-size: 16.5pt !important;
	}
	#sec_welcome{
		font-size: 38px !important;
	}
	#_01_sub_to{
		       margin-left: -43px !important;
		    margin-bottom: 26px !important;
	}
	#text_intro_kindergarden1 input{
		height: 29px !important;
	}
	#_ffko{
		margin-left: -20% !important;
	}
	.triangle_red{
		display:none !important;
	}
	#blue_school{
		width:97% !important;
	margin-left:2% !important;
	margin-top:14% !important;
	margin-bottom: 21%;
	}
	#sec_div_areyou_2 {
    	width: 100% !important;
	}
	#red_school{
		width: 97% !important;
    margin-left: 3% !important;
    margin-top: 7% !important;
    margin-bottom: 21%;
	}
	
	#sec_div_areyou_1 {
    	margin-left: 22% !important;
	}
	#sec_txt_areyou_1 {
    	font-size: 30px !important;
    	letter-spacing: 5.4px !important;
 	}
	._img_news {
   	 margin-left: 0%;
	}
	#_sub_footer_eisau {
    	font-size: 11pt !important;
	}
	h1[class^='section-title dark_title'] span{
		font-size: 43px !important;
	}
	
	._text_he_m1 {
    	font-size: 19pt !important;
    	line-height: 37px;
		    font-weight: 500;
	}

}

@media (max-width: 375px) {
	
	#clone_wall_wat h1 {
    font-size: 31px !important;
}
	
	.text_head_subscribe {
    line-height: 50px;
    /*font-size: 24px !important;*/
    margin-bottom: -30px !important;
}

	#companies-search.vertical input[type="text"]{
		    width: 99.4% !important;
	}

	/*.brand img {
    	width: 100% !important;
    	margin-bottom: 18px;
	}*/

	._img_news {
    	margin-left: 0%;
    	width: 100% !important; 
	}
	
	#_sub_footer_eisau {
    	font-size: 9pt !important;
	}
	#sec_sub_email {
    	font-size: 14.5pt !important;
	}
	._txt_news {
    	font-size: 26px !important;
	}
	._txt_news_dec {
    	font-size: 16px !important;
    	line-height: 29px !important;
	}	
	._text_he_m1 {
	    font-size: 15pt !important;
	    line-height: 37px !important;
	    font-weight: 600;
	}
	.txt_moas{
		    font-size: 16px !important;
	}

}


@media (max-width: 412px) {
	
	/*.brand img {
    	width: 100% !important;
	}*/

}
@media (max-width: 414px) {
	
	/*.brand img {
    	width: 100% !important;
	}*/

}




@media (max-width: 320px) {
	
.kindergardenFacilities h2 {
    font-size: 17px;
    font-weight: 200;
    margin-bottom: 0;
}
._txt_news,._txt_news strong{
		font-size: 23px !important;
	}
#clone_wall_wat h1 {
    font-size: 28px !important;
}
	#w_a1 { 
    margin-top: -3% !important;
    margin-bottom: -1.3% !important;
    margin-left: 2.5% !important;
    /* margin-right: 1% !important; */
    padding: 0px !important;
       width: 94.7% !important;
}
#clone_wall_wat {
    margin-bottom: 50px;
}
	#sub_cat  img{
		display:none !important;
	}
	
	h1[class^='section-title dark_title'] span {
    font-size: 35px !important;
	}
	#sec_welcome_sub {
    font-size: 14pt !important;
}
#sec_welcome {
    font-size: 31px !important;
}
.text_head_subscribe {
    line-height: 50px;
    font-size: 27px !important;
}

#sec_sub_email {
    font-size: 12.5pt !important;
}

	#sec_txt_areyou_1 {
    font-size: 24px !important;
    letter-spacing: 5.4px !important;
}

	/*.brand img {
    	width: 100% !important;
    	margin-bottom: 18px;
	}*/

	._img_news {
    	margin-left: 0%;
    	width: 100% !important; 
	}
	
	#_sub_footer_eisau {
    	font-size: 9pt !important;
	}
	#sec_sub_email {
    	font-size: 14.5pt !important;
	}
	._txt_news {
    	font-size: 26px !important;
	}
	._txt_news_dec {
    	font-size: 16px !important;
    	line-height: 29px !important;
	}	
	._text_he_m1 {
	    font-size: 15pt !important;
	    line-height: 37px !important;
	}
	.txt_moas{
		    font-size: 16px !important;
	}

}
@media only screen 
  and (min-device-width: 1144px) 
  and (max-device-width: 1152px){ 
	
	
	.menu-footer>div, .menu-footer>p {
    	float: left;
    	padding: 0 16.9px;
	}
	#row_can_help_procure{
		padding: 3%;
	}
	
	#gruemenu.grue_128 ul li:first-child > a {
	    border-top-left-radius: 3px;
	    border-bottom-left-radius: 3px;
	    padding-left: 22%!important;
	}

}




@media screen and (max-width: 1032px) and (min-width: 1025px){

   ._button_homee_login {
    padding: 14px 10px !important;

	}	
}


@media screen and (max-width: 424px) {
	#companies-search.vertical .form-field{
		    float: left !important;
    		clear: both !important;
    		margin: 5px 0px  !important;
    		padding: 0 !important;
    		width: 100% !important;
    		box-sizing: border-box !important; 

	}

}


/* Eisau news*/
@media screen and (max-width: 1140px){

	._news_eiasu{
			width: 100% !important;
			max-height: 260px !important;
			padding-top: 35px !important;

	}

}

@media screen and (max-width: 1199px) and (min-width: 1141px){
	._news_eiasu{
		width: 60% !important
	}

}





