#n2-ss-2 .n2-ow,
#n2-ss-2 .n2-ow-all * {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
#n2-ss-2 .n2-ow,
#n2-ss-2 .n2-ow:before,
#n2-ss-2 .n2-ow:after,
#n2-ss-2 .n2-ow-all *,
#n2-ss-2 .n2-ow-all *:before,
#n2-ss-2 .n2-ow-all *:after {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#n2-ss-2 a.n2-ow,
#n2-ss-2 .n2-ow-all a {
  border: 0;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
#n2-ss-2 a.n2-ow,
#n2-ss-2 a.n2-ow:focus,
#n2-ss-2 .n2-ow-all a,
#n2-ss-2 .n2-ow-all a:focus {
  outline: none !important;
  transition: none 0s;
}
#n2-ss-2 h1.n2-ow,
#n2-ss-2 h2.n2-ow,
#n2-ss-2 h3.n2-ow,
#n2-ss-2 h4.n2-ow,
#n2-ss-2 h5.n2-ow,
#n2-ss-2 h6.n2-ow,
#n2-ss-2 p.n2-ow,
#n2-ss-2 .n2-ow-all h1,
#n2-ss-2 .n2-ow-all h2,
#n2-ss-2 .n2-ow-all h3,
#n2-ss-2 .n2-ow-all h4,
#n2-ss-2 .n2-ow-all h5,
#n2-ss-2 .n2-ow-all h6,
#n2-ss-2 .n2-ow-all p {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  height: auto;
  width: auto;
  border: 0;
  box-shadow: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
#n2-ss-2 img.n2-ow,
#n2-ss-2 .n2-ow-all img {
  width: auto;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: transparent;
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: top;
}
#n2-ss-2 ul.n2-ow,
#n2-ss-2 li.n2-ow,
#n2-ss-2 img.n2-ow,
#n2-ss-2 a.n2-ow,
#n2-ss-2 p.n2-ow,
#n2-ss-2 ol.n2-ow,
#n2-ss-2 textarea.n2-ow,
#n2-ss-2 input.n2-ow,
#n2-ss-2 button.n2-ow {
  -moz-transition: none 0s;
  -webkit-transition: none 0s;
  -o-transition: none 0s;
  transition: none 0s;
}
div#n2-ss-2 {
  z-index: 3;
  margin: 0px 0px 0px 0px;
  position: relative;
  text-align: left;
}
[dir="rtl"] div#n2-ss-2 {
  text-align: right;
}
div#n2-ss-2 :focus {
  outline: none;
}
[dir="rtl"] div#n2-ss-2 .n2-ss-slide-background {
  text-align: left;
}
div#n2-ss-2.n2-ss-load-fade {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
div#n2-ss-2.n2-ss-load-fade.n2-ss-loaded {
  opacity: 1;
  position: relative;
}
div#n2-ss-2 .unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div#n2-ss-2.n2notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
div#n2-ss-2 .n2noselftransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
div#n2-ss-2 .n2-ss-slide {
  text-align: center;
}
div#n2-ss-2 .n2-ss-slide,
div#n2-ss-2 .n2-ss-canvas {
  position: relative;
}
div#n2-ss-2 .n2-ss-slide,
div#n2-ss-2 .n2-ss-canvas {
  overflow: hidden !important;
}
div#n2-ss-2 .n2-ss-slide-background,
div#n2-ss-2 .n2-ss-slide-background > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
div#n2-ss-2 .n2-ss-slide .n2-ss-slide-background img {
  max-width: none;
}
div#n2-ss-2 .n2-ss-background-image {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
div#n2-ss-2 [data-mode="fill"] > .n2-ss-background-image {
  background-size: cover;
}
div#n2-ss-2 [data-mode="fit"] > .n2-ss-background-image {
  background-size: contain;
}
div#n2-ss-2 [data-mode="simple"] > .n2-ss-background-image {
  background-size: cover;
}
div#n2-ss-2 [data-mode="stretch"] > .n2-ss-background-image {
  background-size: 100% 100%;
}
div#n2-ss-2 [data-mode="center"] > .n2-ss-background-image {
  background-position: 50% 50%;
}
div#n2-ss-2 [data-mode="tile"] > .n2-ss-background-image {
  background-repeat: repeat;
}
div#n2-ss-2 [data-mode="fixed"] > .n2-ss-background-image {
  background-size: cover;
}
div#n2-ss-2 .n2-ss-slide-background-video {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
div#n2-ss-2 .n2-ss-slide-background-video.n2-active {
  visibility: visible;
}
div#n2-ss-2 .n2-ss-layers-container {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
div#n2-ss-2 [onclick].n2-ss-layers-container {
  visibility: visible;
}
div#n2-ss-2 .n2-ss-layers-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
div#n2-ss-2 .n2-ss-layers-container > * {
  visibility: visible;
}
div#n2-ss-2 .n2-ss-layer {
  position: absolute;
  outline: 1px solid RGBA(0,0,0,0);
  z-index: 1;
}
div#n2-ss-2 .n2-ss-layer-parallax,
div#n2-ss-2 .n2-ss-layer-mask,
div#n2-ss-2 .n2-ss-layer-rotation {
  width: 100%;
  height: 100%;
}
div#n2-ss-2 .n2-ss-layer-content .n2-ss-layer-parallax,
div#n2-ss-2 .n2-ss-layer-content .n2-ss-layer-mask,
div#n2-ss-2 .n2-ss-layer-content .n2-ss-layer-rotation,
div#n2-ss-2 .n2-ss-layer-row .n2-ss-layer-parallax,
div#n2-ss-2 .n2-ss-layer-row .n2-ss-layer-mask,
div#n2-ss-2 .n2-ss-layer-row .n2-ss-layer-rotation {
  height: auto;
  flex-grow: 1;
}
div#n2-ss-2 .n2-ss-layer.n2-ss-layer-needsize .n2-ss-layer-parallax,
div#n2-ss-2 .n2-ss-layer.n2-ss-layer-needsize .n2-ss-layer-mask,
div#n2-ss-2 .n2-ss-layer.n2-ss-layer-needsize .n2-ss-layer-rotation {
  height: 100%;
}
div#n2-ss-2 .n2-ss-layer[data-type="col"] > .n2-ss-layer-parallax,
div#n2-ss-2 .n2-ss-layer[data-type="content"] > .n2-ss-layer-parallax,
div#n2-ss-2 .n2-ss-layer[data-type="col"] > .n2-ss-layer-mask,
div#n2-ss-2 .n2-ss-layer[data-type="content"] > .n2-ss-layer-mask,
div#n2-ss-2 .n2-ss-layer[data-type="col"] > .n2-ss-layer-rotation,
div#n2-ss-2 .n2-ss-layer[data-type="content"] > .n2-ss-layer-rotation,
div#n2-ss-2 .n2-ss-layer[data-type="col"] > .n2-ss-layer-parallax > .n2-ss-layer-rotation,
div#n2-ss-2 .n2-ss-layer[data-type="content"] > .n2-ss-layer-parallax > .n2-ss-layer-rotation,
div#n2-ss-2 .n2-ss-layer[data-type="col"] > .n2-ss-layer-mask > .n2-ss-layer-rotation,
div#n2-ss-2 .n2-ss-layer[data-type="content"] > .n2-ss-layer-mask > .n2-ss-layer-rotation {
  display: flex;
}
div#n2-ss-2 .n2-ss-layer-group {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
div#n2-ss-2 .n2-ss-layer-group > * {
  visibility: visible;
}
div#n2-ss-2 .n2-ss-layer-group > .n2-ss-layer-parallax {
  visibility: hidden;
}
div#n2-ss-2 .n2-ss-layer-group > .n2-ss-layer-parallax > * {
  visibility: visible;
}
div#n2-ss-2.n2-ss-mobile .n2-ss-slider-1,
div#n2-ss-2.n2-ss-tablet .n2-ss-slider-1 {
  background-attachment: scroll !important;
}
div#n2-ss-2 .n2-ss-widget {
  display: none;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1;
  z-index: 12;
  font-size: 16px;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 1;
}
div#n2-ss-2 .n2-ss-widget.n2-ss-widget-hidden {
  opacity: 0 !important;
}
div#n2-ss-2.n2-ss-tablet .n2-ss-widget {
  font-size: 14px;
}
div#n2-ss-2.n2-ss-mobile .n2-ss-widget {
  font-size: 12px;
}
div#n2-ss-2 .n2-ss-tablet,
div#n2-ss-2 .n2-ss-mobile,
div#n2-ss-2.n2-ss-tablet .n2-ss-desktop,
div#n2-ss-2.n2-ss-mobile .n2-ss-desktop {
  display: none;
}
div#n2-ss-2 .n2-ss-desktop,
div#n2-ss-2.n2-ss-desktop .n2-ss-desktop,
div#n2-ss-2.n2-ss-tablet .n2-ss-tablet,
div#n2-ss-2.n2-ss-mobile .n2-ss-mobile {
  display: block;
}
div#n2-ss-2.n2-ss-desktop .n2-ss-widget-display-desktop,
div#n2-ss-2.n2-ss-tablet .n2-ss-widget-display-tablet,
div#n2-ss-2.n2-ss-mobile .n2-ss-widget-display-mobile {
  display: block;
}
div#n2-ss-2 .n2-ss-desktop.n2-ib,
div#n2-ss-2.n2-ss-desktop .n2-ss-desktop.n2-ib,
div#n2-ss-2.n2-ss-tablet .n2-ss-tablet.n2-ib,
div#n2-ss-2.n2-ss-mobile .n2-ss-mobile.n2-ib {
  display: inline-block;
}
div#n2-ss-2.n2-ss-desktop .n2-ss-widget-display-desktop.n2-ib,
div#n2-ss-2.n2-ss-tablet .n2-ss-widget-display-tablet.n2-ib,
div#n2-ss-2.n2-ss-mobile .n2-ss-widget-display-mobile.n2-ib {
  display: inline-block;
}
div#n2-ss-2 .n2-ss-widget-always {
  -webkit-transform: translate3d(0,0,0);
}
div#n2-ss-2 div.n2-ss-widget-display-hover {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
div#n2-ss-2.n2-hover .n2-ss-widget-display-hover {
  opacity: 1;
}
div#n2-ss-2 .n2-ss-static-slide {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
}
div#n2-ss-2 .n2-ss-static-slide .n2-ss-section-outer,
div#n2-ss-2 .n2-ss-static-slide div[data-type="content"],
div#n2-ss-2 .n2-ss-static-slide div[data-type="content"] div.n2-ss-section-main-content {
  visibility: hidden;
}
div#n2-ss-2 .n2-ss-static-slide .n2-ss-layer,
div#n2-ss-2 .n2-ss-static-slide > div,
div#n2-ss-2 .n2-ss-static-slide div[data-type="content"] > div,
div#n2-ss-2 .n2-ss-static-slide .n2-ss-section-main-content > div {
  visibility: visible;
}
div#n2-ss-2 .n2-ss-slide .nextend-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none !important;
  height: auto;
  background: rgba(0,0,0,0.002);
}
div#n2-ss-2 video.n2-ow {
  max-width: none;
}
div#n2-ss-2 iframe.n2-ow {
  max-width: none;
}
div#n2-ss-2 .n2-ss-item-iframe {
  height: 100%;
}
div#n2-ss-2 .n2-grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
div#n2-ss-2 .n2-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
div#n2-ss-2 .n2-video-play {
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  left: 50%;
  top: 50%;
}
div#n2-ss-2 form.n2-ow {
  margin: 0;
  border: 0;
  padding: 0;
}
div#n2-ss-2 .n2-fake-input,
div#n2-ss-2 input.n2-ow {
  height: auto;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
  font-family: Arial;
  box-shadow: none;
}
div#n2-ss-2 input.n2-ow:focus {
  outline: 0;
}
div#n2-ss-2 .n2-fake-input,
div#n2-ss-2 input.n2-ow[placeholder] {
  overflow: hidden;
  text-overflow: clip;
}
div#n2-ss-2 ::-moz-placeholder {
  text-overflow: clip;
  color: inherit;
}
div#n2-ss-2 input.n2-ow:-moz-placeholder {
  text-overflow: clip;
  color: inherit;
}
div#n2-ss-2 table.n2-ow {
  table-layout: auto;
  margin: 0;
}
div#n2-ss-2 .n2-ss-thumbnail-type {
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  left: 50%;
  top: 50%;
}
div#n2-ss-2 .n2-ss-icon-normal {
  display: inline-block;
}
div#n2-ss-2 .n2-ss-icon-hover,
div#n2-ss-2 .n2-ss-icon-has-hover:HOVER .n2-ss-icon-normal {
  display: none;
}
div#n2-ss-2 .n2-ss-icon-has-hover:HOVER .n2-ss-icon-hover {
  display: inline-block;
}
div#n2-ss-2 .n2-ss-section-main-content .n2-ss-layer {
  position: relative;
}
div#n2-ss-2 .n2-ss-section-main-content .n2-ss-item {
  float: none;
}
div#n2-ss-2 .n2-ss-section-main-content > .n2-ss-layer[data-type="row"] {
  width: 100%;
}
div#n2-ss-2 .n2-ss-section-main-content > .n2-ss-layer[data-type="row"].n2-ss-autowidth {
  width: auto;
}
div#n2-ss-2 .n2-ss-layer[data-type="row"].n2-ss-stretch-layer {
  display: flex;
  flex: 1 1 auto;
}
div#n2-ss-2 .n2-ss-layer-row {
  box-sizing: border-box;
  display: flex;
}
div#n2-ss-2 .n2-ss-layer[data-type="row"].n2-ss-stretch-layer .n2-ss-layer-row {
  height: auto;
  width: 100%;
}
div#n2-ss-2 .n2-ss-layer-row > .n2-ss-layer {
  box-sizing: border-box;
  position: relative;
  width: 1px;
  flex: 1 1 auto;
}
div#n2-ss-2 .n2-ss-layer-row.n2-ss-row-wrapped {
  flex-wrap: wrap;
}
div#n2-ss-2 .n2-ss-layer-row > .n2-ss-layer[data-r="0"] {
  margin-top: 0 !important;
}
div#n2-ss-2 .n2-ss-layer-row > .n2-ss-row-break {
  display: none;
  width: 100%;
  flex: 0 0 auto;
}
div#n2-ss-2 .n2-ss-layer-row.n2-ss-row-wrapped > .n2-ss-row-break {
  display: block;
}
div#n2-ss-2 .n2-ss-layer-row > .n2-ss-layer.n2-ss-last-in-row {
  margin-right: 0 !important;
}
div#n2-ss-2 .n2-ss-layer-row > .n2-ss-layer:last-child {
  margin-right: 0;
}
div#n2-ss-2 .n2-ss-layer-row .n2-ss-item {
  float: none;
}
div#n2-ss-2 .n2-ss-layer-row .n2-ss-layer {
  position: relative;
}
div#n2-ss-2 .n2-ss-layer-content .n2-ss-layer {
  width: auto;
}
div#n2-ss-2 .n2-ss-section-outer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}
div#n2-ss-2 .n2-ss-layer[data-type="content"] {
  position: relative;
  width: 100%;
  height: 100%;
}
div#n2-ss-2 .n2-ss-section-main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
div#n2-ss-2 .n2-ss-section-main-content .n2-ss-layer {
  min-height: 1px;
}
div#n2-ss-2 .n2-ss-layer-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  height: 40px;
}
div#n2-ss-2 .n2-ss-layer-content .n2-ss-layer-needsize {
  width: 100%;
}
div#n2-ss-2 .n2-ss-layer-content[data-alignitems="stretch"] {
  align-items: stretch;
}
div#n2-ss-2 .n2-ss-layer-content[data-alignitems="flex-start"] {
  align-items: flex-start;
}
div#n2-ss-2 .n2-ss-layer-content[data-alignitems="center"] {
  align-items: center;
}
div#n2-ss-2 .n2-ss-layer-content[data-alignitems="flex-end"] {
  align-items: flex-end;
}
div#n2-ss-2 .n2-ss-layer-content[data-verticalalign="flex-start"] {
  justify-content: flex-start;
}
div#n2-ss-2 .n2-ss-layer-content[data-verticalalign="center"] {
  justify-content: center;
}
div#n2-ss-2 .n2-ss-layer-content[data-verticalalign="flex-end"] {
  justify-content: flex-end;
}
div#n2-ss-2 .n2-ss-layer-content[data-verticalalign="space-around"] {
  justify-content: space-around;
}
div#n2-ss-2 .n2-ss-layer-content[data-verticalalign="space-between"] {
  justify-content: space-between;
}
div#n2-ss-2 .n2-ss-layer[data-type="col"] {
  display: flex;
  flex-flow: column;
  order: 10;
}
div#n2-ss-2 .n2-ss-layer-col {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: auto;
  flex: 1 1 auto;
}
div#n2-ss-2 .n2-ss-layer-col > .n2-ss-layer {
  flex: 0 0 auto;
}
div#n2-ss-2 .n2-ss-section-main-content-calc {
  min-height: 0;
  height: auto;
}
div#n2-ss-2 .n2-ss-autowidth > .n2-ss-layer-row > .n2-ss-layer {
  width: auto !important;
}
div#n2-ss-2 [data-csstextalign="left"] {
  text-align: left;
}
div#n2-ss-2 [data-csstextalign="center"] {
  text-align: center;
}
div#n2-ss-2 [data-csstextalign="right"] {
  text-align: right;
}
div#n2-ss-2 .n2-ss-layer.n2-ss-has-maxwidth[data-pm="normal"] {
  width: 100%;
}
div#n2-ss-2 [data-csstextalign="left"] .n2-ss-has-maxwidth,
div#n2-ss-2 [data-csstextalign] [data-csstextalign]:not([data-csstextalign="center"]):not([data-csstextalign="right"]):not([data-csstextalign="inherit"]) .n2-ss-has-maxwidth,
div#n2-ss-2 [data-csstextalign="left"] .n2-ss-autowidth,
div#n2-ss-2 [data-csstextalign] [data-csstextalign]:not([data-csstextalign="center"]):not([data-csstextalign="right"]):not([data-csstextalign="inherit"]) .n2-ss-autowidth {
  align-self: flex-start;
}
div#n2-ss-2 [data-csstextalign="center"] .n2-ss-has-maxwidth,
div#n2-ss-2 [data-csstextalign] [data-csstextalign]:not([data-csstextalign="left"]):not([data-csstextalign="right"]):not([data-csstextalign="inherit"]) .n2-ss-has-maxwidth,
div#n2-ss-2 [data-csstextalign="center"] .n2-ss-autowidth,
div#n2-ss-2 [data-csstextalign] [data-csstextalign]:not([data-csstextalign="left"]):not([data-csstextalign="right"]):not([data-csstextalign="inherit"]) .n2-ss-autowidth {
  align-self: center;
}
div#n2-ss-2 [data-csstextalign="right"] .n2-ss-has-maxwidth,
div#n2-ss-2 [data-csstextalign] [data-csstextalign]:not([data-csstextalign="left"]):not([data-csstextalign="center"]):not([data-csstextalign="inherit"]) .n2-ss-has-maxwidth,
div#n2-ss-2 [data-csstextalign="right"] .n2-ss-autowidth,
div#n2-ss-2 [data-csstextalign] [data-csstextalign]:not([data-csstextalign="left"]):not([data-csstextalign="center"]):not([data-csstextalign="inherit"]) .n2-ss-autowidth {
  align-self: flex-end;
}
div#n2-ss-2 .n2-ss-layer-content > [data-cssselfalign="left"],
div#n2-ss-2 .n2-ss-has-maxwidth[data-cssselfalign="left"],
div#n2-ss-2 .n2-ss-autowidth[data-cssselfalign="left"] {
  align-self: flex-start !important;
}
div#n2-ss-2 .n2-ss-layer-content > [data-cssselfalign="center"],
div#n2-ss-2 .n2-ss-has-maxwidth[data-cssselfalign="center"],
div#n2-ss-2 .n2-ss-autowidth[data-cssselfalign="center"] {
  align-self: center !important;
}
div#n2-ss-2 .n2-ss-layer-content > [data-cssselfalign="right"],
div#n2-ss-2 .n2-ss-has-maxwidth[data-cssselfalign="right"],
div#n2-ss-2 .n2-ss-autowidth[data-cssselfalign="right"] {
  align-self: flex-end !important;
}
div#n2-ss-2 .n2-ss-layer-inline {
  flex-direction: row;
  flex-wrap: wrap;
}
div#n2-ss-2 .n2-ss-img-wrapper,
div#n2-ss-2 .n2-ss-img-wrapper img {
  line-height: 0;
}
.n2-clear {
  clear: both;
}
.n2-in-fullscreen * {
  -webkit-animation-name: initial;
  animation-name: initial;
}
.n2-in-fullscreen [data-uk-scrollspy*='uk-animation-']:not([data-uk-scrollspy*='target']) {
  opacity: 1;
}
.n2-ss-align {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.n2-ss-align.n2-ss-slider-align-visible {
  overflow: visible;
}
div#n2-ss-2 .n2-ss-background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
div#n2-ss-2 .n2-ss-background-animation img {
  max-width: none;
}
div#n2-ss-2 .n2-ss-background-animation .n2-3d-side {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #333;
  outline: 1px solid rgba(0,0,0,0);
}
div#n2-ss-2 .n2-ss-background-animation .n2-ff-3d,
div#n2-ss-2 .n2-ss-background-animation .tile {
  outline: 1px solid rgba(0,0,0,0);
}
div#n2-ss-2 {
  width: 1200px;
  height: 600px;
  float: left;
}
html[dir="rtl"] div#n2-ss-2 {
  float: right;
}
div#n2-ss-2 .n2-ss-slider-1 {
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 600px;
  border-style: solid;
  border-width: 0px;
  border-color: #3E3E3E;
  border-color: RGBA(62,62,62,1);
  border-radius: 0px;
  background-clip: padding-box;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}
div#n2-ss-2 .n2-ss-slider-background-video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div#n2-ss-2 .n2-ss-slider-2 {
  position: relative;
  width: 100%;
  height: 100%;
}
div#n2-ss-2 .n2-ss-slider-3 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 1px solid rgba(0,0,0,0);
  z-index: 10;
}
.x-firefox div#n2-ss-2 .n2-ss-slider-2 {
  opacity: 0.99999;
}
div#n2-ss-2 .n2-ss-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 600px;
  z-index: 2;
  display: block;
  -webkit-backface-visibility: hidden;
}
div#n2-ss-2 .n2-ss-layers-container {
  position: relative;
  width: 1200px;
  height: 600px;
}
div#n2-ss-2 .n2-ss-slide-active {
  z-index: 3;
}
div#n2-ss-2 .n2-ss-button-container,
div#n2-ss-2 .n2-ss-button-container a {
  display: inline-block;
}
div#n2-ss-2 .n2-ss-button-container.n2-ss-fullwidth,
div#n2-ss-2 .n2-ss-button-container.n2-ss-fullwidth a {
  display: block;
}
div#n2-ss-2 .n2-ss-button-container.n2-ss-nowrap {
  white-space: nowrap;
}
div#n2-ss-2 .n2-ss-button-container a > span {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}
div#n2-ss-2 .n2-ss-button-container i {
  font-size: 100%;
  vertical-align: baseline;
}
div#n2-ss-2 .n2-ss-button-container a[data-iconplacement="left"] i {
  margin-right: 0.3em;
}
div#n2-ss-2 .n2-ss-button-container a[data-iconplacement="right"] i {
  margin-left: 0.3em;
}
div#n2-ss-2 .n2-ss-button-container,
div#n2-ss-2 .n2-ss-button-container a {
  display: inline-block;
}
div#n2-ss-2 .n2-ss-button-container.n2-ss-fullwidth,
div#n2-ss-2 .n2-ss-button-container.n2-ss-fullwidth a {
  display: block;
}
div#n2-ss-2 .n2-ss-button-container.n2-ss-nowrap {
  white-space: nowrap;
}
div#n2-ss-2 .n2-ss-button-container a > span {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}
div#n2-ss-2 .n2-ss-button-container i {
  font-size: 100%;
  vertical-align: baseline;
}
div#n2-ss-2 .n2-ss-button-container a[data-iconplacement="left"] i {
  margin-right: 0.3em;
}
div#n2-ss-2 .n2-ss-button-container a[data-iconplacement="right"] i {
  margin-left: 0.3em;
}
div#n2-ss-2 .nextend-arrow {
  cursor: pointer;
  overflow: hidden;
  line-height: 0 !important;
}
div#n2-ss-2 .nextend-arrow img {
  vertical-align: top;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: inline;
}
div#n2-ss-2 .nextend-arrow img.n2-arrow-hover-img {
  display: none;
}
div#n2-ss-2 .nextend-arrow:HOVER img.n2-arrow-hover-img {
  display: inline;
}
div#n2-ss-2 .nextend-arrow:HOVER img.n2-arrow-normal-img {
  display: none;
}
div#n2-ss-2 .nextend-arrow-animated {
  overflow: hidden;
}
div#n2-ss-2 .nextend-arrow-animated > div {
  position: relative;
}
div#n2-ss-2 .nextend-arrow-animated .n2-active {
  position: absolute;
}
div#n2-ss-2 .nextend-arrow-animated-fade {
  transition: background 0.3s, opacity 0.4s;
}
div#n2-ss-2 .nextend-arrow-animated-horizontal > div {
  transition: all 0.4s;
  left: 0;
}
div#n2-ss-2 .nextend-arrow-animated-horizontal .n2-active {
  top: 0;
}
div#n2-ss-2 .nextend-arrow-previous.nextend-arrow-animated-horizontal:HOVER > div,
div#n2-ss-2 .nextend-arrow-next.nextend-arrow-animated-horizontal .n2-active {
  left: -100%;
}
div#n2-ss-2 .nextend-arrow-previous.nextend-arrow-animated-horizontal .n2-active,
div#n2-ss-2 .nextend-arrow-next.nextend-arrow-animated-horizontal:HOVER > div {
  left: 100%;
}
div#n2-ss-2 .nextend-arrow.nextend-arrow-animated-horizontal:HOVER .n2-active {
  left: 0;
}
div#n2-ss-2 .nextend-arrow-animated-vertical > div {
  transition: all 0.4s;
  top: 0;
}
div#n2-ss-2 .nextend-arrow-animated-vertical .n2-active {
  left: 0;
}
div#n2-ss-2 .nextend-arrow-animated-vertical .n2-active {
  top: -100%;
}
div#n2-ss-2 .nextend-arrow-animated-vertical:HOVER > div {
  top: 100%;
}
div#n2-ss-2 .nextend-arrow-animated-vertical:HOVER .n2-active {
  top: 0;
}
div#n2-ss-2 .n2-bullet-bar-full-size {
  display: block;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
div#n2-ss-2 .n2-bullet-bar-full-size.nextend-bullet-bar-horizontal {
  width: 100%;
}
div#n2-ss-2 .n2-bullet-bar-full-size.nextend-bullet-bar-vertical {
  height: 100%;
}
div#n2-ss-2 .nextend-bullet-bar > div {
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.4s;
  vertical-align: top;
}
div#n2-ss-2 .nextend-bullet-bar > div.n2-active {
  cursor: default;
}
div#n2-ss-2 div.n2-bullet-thumbnail-container {
  background-size: cover;
}
