/*
#------------------------------------------------------------------------
# University - May Joomla! template (for Joomla 2.5)
#
# Copyright (C) 2007-2014 Gavick.com. All Rights Reserved.
# License: Copyrighted Commercial Software
# Website: http://www.gavick.com
# Support: support@gavick.com 
*/

#ieToolbar {  
	background: #ffffdb;
	position: absolue;
	text-align: center;
	top: 0;
	z-index: 1000001;
}   
#ieToolbar div { 
	margin: 0 auto;
	padding: 12px 0;  
	width: 980px
}
#ieToolbar a {
	text-decoration: underline
}
table,
table tr,
table td,
table tbody,
table thead {
     vertical-align: top!important;
}
