/*
#------------------------------------------------------------------------
# University - May Joomla! template (for Joomla 2.5)
#
# Copyright (C) 2007-2014 Gavick.com. All Rights Reserved.
# License: Copyrighted Commercial Software
# Website: http://www.gavick.com
# Support: support@gavick.com 
*/

#ieToolbar {  
	background: #ffffdb;
	position: absolute;
	text-align: center;
	top: 0;
	z-index: 1000001;
	width: 100%;
}   
#ieToolbar div { 
	margin: 0 auto;
	padding: 12px 0;  
	width: 980px
}
#ieToolbar a {
	text-decoration: underline
}

.box {
	overflow: hidden;
}

.nspArt img:hover {
	filter: alpha(opacity=85);	
}

body #gkPage img {
	width: auto!important;
}

#gkContentTop {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}

.display-limit {
	white-space: pre;
	word-break: keep-all;
}

.display-limit select {
	display: inline!important;
}

.k2Avatar img {
	width: 32px!important;
	max-width: 32px!important;
}

.itemAuthorBlock .gkAvatar img {
	height: 80px!important;
	max-width: 80px!important;
	width: 80px!important;
}

span.gkAvatar img {
	max-width: 48px!important;
}
.nspArt img.nspImage {
    width: auto!important;
    max-width: auto!important;
}

article header {
	overflow: hidden;
}

/* Fix for crashing IE8 */
li.itemRatingBlock {
	display: none!important;
}

/* Fix for the print/email icons */
li.print-icon,
li.email-icon {
	margin-top: 10px!important;
}

li.print-icon:after,
li.email-icon:after {
	display: none!important;
}

.k2LatestCommentsBlock .k2Avatar {
	height: 30px!important;
	width: 30px!important;
}
table,
table tr,
table td,
table tbody,
table thead {
     vertical-align: top!important;
}

.ie8clear {
	clear: both;
}

#gkMainbody article {
	overflow: hidden;
}

article header h1,
article header h2 {
	clear: both;
}

#gkMenuWrap {
	border-bottom: 1px solid #ddd;
}

.gkPriceTable .gkPopular:before {
	height: 20px;
	line-height: 21px;
	right: 0px;
	top: 0;
	width: 85px;
}
