<style>
/*In file only_homepage*/
#clone_wall_wat > #companies-search.vertical .form-field{
    float: none;
    clear: both;
    margin: 2px 7px 4px 7px;
    padding: 0 !important;
    width: 46%;
}

#companies-search.vertical .form-field select{
     width:100%;
     max-width: 245px;
}


#clone_wall_wat >  #companies-search #searchform .search-dir-button{
    margin-top: 6px;
    font-weight: bold;
    padding: 0px 10px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 41px;
    height: 41px;
    width: 95%;

}
#txt_welcome_section{
    padding-top: 0 !important;
}



#companies-search.vertical #zipcode{
    border: 2px solid #1b67a5 !important;
    top: 5px;
}

.h1_txt_search_page{
    color:#0098ff;
}



@media screen and (max-width: 1199px) {
     #w_a1{
       padding: 0px 15px !important;
    }

   
}

@media screen (max-width: 1024px) {
    div#w_a1 {
        padding: 0px 15px !important;
    }
    #clone_wall_wat > h1{
       color: #fff !important;
    }
    .h1_txt_search_page{
        color:#fff !important;
    }
    .h1_txt_search_page{
        color:#fff !important;
    }
    
    #companies-search.vertical .form-field select{
        max-width: -webkit-fill-available !important;
    }

}

@media screen and (max-width: 425px){
    #clone_wall_wat > #companies-search.vertical .form-field{
        float: none;
        clear: both;
        margin: 3px 0px;
        padding: 0 !important;
        width: 100% !important;
    }
    #txt_welcome_section{
        padding-top: 7% !important;
    }
}

@media screen and (max-width: 767px) and (min-width: 426px) {

    #txt_welcome_section{
        padding-top: 7% !important;
    }
    .djslider-default ul.djslider-in > li{

    }


    #clone_wall_wat {
    
        position: relative;
        margin: auto !important;
        top: 5px !important;
        left: 0 !important;

    }

    .ui-tabs {
        padding:0;
    }
    
    
     #clone_wall_wat > #companies-search.vertical .form-field {
            float: none;
    clear: both;
    top: 5px;
    width: 100%;
    margin: 0;
    padding-bottom: 6px !important;

    }
    .top_search_category > h1{
        color: #fff !important;
    }

    #clone_wall_wat >  #companies-search #searchform .search-dir-button{
                margin-left: 0px !important;
    width: 99.7% !important;
    padding: 0 !important;
    }

}

@media screen and (max-width: 600px) and (min-width: 491px){
    #clone_wall_wat {
   
    margin: auto !important;

    }
    .top_search_category {
    top: 238px !important;
    left: 4% !important;
    }
}

@media screen (max-width: 423px) {
    #clone_wall_wat > #companies-search.vertical .form-field{
        float: none;
        clear: both;
        margin: 5px 7px 7px 7px;
        padding: 0 !important;
    }

    #clone_wall_wat >  #companies-search #searchform .search-dir-button{
        margin-top: 3px !important;
        font-weight: bold !important;
        padding: 0px 10px !important;
        color: #FFFFFF !important;
        font-size: 16px !important;
        line-height: 41px !important;
        height: 41px !important;
        border: 2px solid #52423a !important;
    }
}


@media screen and (max-width: 425px){

    #clone_wall_wat {
       
        position: relative;
        margin: auto !important;
        top: 5px !important;
        left: 0 !important;
    
    }
    div[class^='span3 yahoo_b'] #searchform .form-field select, #searchform .form-field input[type="text"]{
            height: 43px !important;
                color: #1d69a8 !important
                top:0px;
    }
    #companies-search.vertical #zipcode{
        top: 0px;
    }

    #clone_wall_wat > #companies-search #searchform .search-dir-button {
        width: 99% !important;
    }

}

@media screen and (max-width: 384px){
    
    #clone_wall_wat h1 {
        font-size: 29px !important;
    }
}

@media screen and (max-width: 320px){
    #w_a1 {
        padding: 0px!important;
    }
    .top_search_category{
        padding: 16px !important;
    }
    #clone_wall_wat h1 {
        font-size: 26px !important;
    }
    #txt_welcome_section {
        padding-top: 10% !important;
    }
}






</style>