/**
 * Shlib - programming library
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier 2013
 * @package     shlib
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     0.2.9.370
 * @date		2014-06-11
 */

/*
Hack to prevent scrollbar appearing in popup. Seems to happen because
of height: 100% on body tag of url loaded in popup.
*/
body {
	height: 90% !important;
	padding: 0 !important;
}