<div class="simpli-info">
  <h3>Template Information</h3>
  <span class="tpl-preview"><img src="http://10.0.0.101/works/tpl_backend/administrator/templates/ja_admin/info/template_thumbnail.png" alt="JA Admin" /></span>
  <div class="tpl-info">
    <p><strong>JA Admin</strong>  is designed with improved UI & UX and additional advanced features to manage your Joomla site with ease. Administrator can build profile dashboard for each user group. The profile dashboard is easy to manage: enable or disable any admin module or quick links. The Search feature helps you find and access any element inside the admin panel.</p>

    <ul class="quick-links">
      <li><a href="https://www.joomlart.com/joomla/templates/ja-admin" title="JoomlArt" ref="noflow"><i class="fa fa-info-circle"></i>Template Detail</a></li>
      <li><a href="https://www.joomlart.com/downloads/joomla-admin-template/ja-admin/" title="JoomlArt" ref="noflow"><i class=" fa fa-download"></i>Download</a></li>
      <li><a href="https://www.joomlart.com/forums/forum/joomla-admin-template/" title="JoomlArt" ref="noflow"><i class=" fa fa-question-circle"></i>Forum</a></li>
    </ul>
  </div>
</div>
<script>
  jQuery(document).ready(function($){
    // move content to detail
    $('#details > .row-fluid > .span9').empty().append($('.simpli-info'));
  })
</script>