/**
 * $JA#COPYRIGHT$
 */

.ja-users {
	padding-bottom: 10px;
	position: relative;
}

/* USER LIST
------------ */
.ja-users-list {
	display: block;
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
	overflow: hidden;
}

.ja-users-list li {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	display: block;
	float: left;
	max-width: 100px;
	margin: 0 10px 20px;
	padding: 20px;
	position: relative;
}

.ja-users-list li:hover {
	border-color: #ccc;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}

/* Badge new */
.ja-users-list .badge {
	border-radius: 2px;
	font-weight: normal;
	padding: 2px 6px;
	position: absolute;
	top: 8px;
	right: 8px;
}

.ja-users-list .badge.badge-new {
	background-color: #096;
}

/* User avatar */
.user-avatar {
	display: block;
	margin-bottom: 20px;
	min-height: 100px;
	width: 100%;
}

.user-avatar img {
	border-radius: 50%;
}

/* User name */
.user-name {
	background-color: #f0f0f0;
	border-radius: 15px;
	display: block;
	color: #333;
	font-size: 13px;
	font-weight: 600;
	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
}

.user-name:hover,
.user-name:focus,
.user-name:active {
	text-decoration: none;
}

/* Join date*/
.join-date {
	color: #b5b5b5;
	display: block;
	font-size: 12px;
	text-align: center;
}


/* Footer block */
.ja-users-foot {
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding-top: 20px;
	text-align: right;
}

.ja-users-foot a {
	background-color: #069;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	padding: 6px 20px;
}

.ja-users-foot a:hover,
.ja-users-foot a:focus,
.ja-users-foot a:active {
	color: #fff;
	text-decoration: none;
}