/*
#------------------------------------------------------------------------
# University - May Joomla! template (for Joomla 2.5)
#
# Copyright (C) 2007-2014 Gavick.com. All Rights Reserved.
# License: Copyrighted Commercial Software
# Website: http://www.gavick.com
# Support: support@gavick.com 
*/

select,
textarea,
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"] {
	background: #fff;
	border-color: #bcbcbc #dadada #e5e5e5;
	border-style: solid;
	border-width: 1px;
	color: #777;
	font-family: Arial, sans-serif;
	height: 39px;
	padding: 10px 12px !important;
	max-width: 100%!important;
}
select,
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"] {
	height: 39px!important;
}
textarea {
	height: auto;
	max-width: 100%!important;
	padding: 24px
}
legend { color: #1B1D1F; }
select {
	height: inherit;
	padding: 6px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	height: 39px;
	line-height: 39px;
	padding: 12px;
}
html.-moz-select { padding: 3px 5px }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus { background: #fffef4; }
button,
.button,
input.button,
span.button,
button.button,
div.button,
input[type="submit"],
input[type="button"],
.pagenav-prev a,
.pagenav-next a,
.pagenav .previous a,
.pagenav .next a,
#gkMainbody .itemReadMore,
#gkMainbody .readmore > a,
.button.invert:active,
.button.invert:focus,
.button.invert:hover,
.gkShowCart a,
body #cWindow a.plupload_button {
	-webkit-appearance: none;
	background: #fa7252;
	border: 1px solid #fa7252;
	color: #fff!important;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 38px;
	line-height: 39px;
	margin: 0 5px 2px 2px;
	padding: 0 24px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
button:hover,
.button:hover,
input.button:hover,
span.button:hover,
button.button:hover,
div.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.pagenav-prev a:hover,
.pagenav-next a:hover,
.pagenav .previous a:hover,
.pagenav .next a:hover,
#gkMainbody .itemReadMore:active,
#gkMainbody .itemReadMore:focus,
#gkMainbody .itemReadMore:hover,
#gkMainbody .readmore > a:active,
#gkMainbody .readmore > a:focus,
#gkMainbody .readmore > a:hover,
.button.invert,
.gkShowCart a:hover,
body #cWindow a.plupload_button:hover {
	background: #0F1725;
	border-color: #0F1725;
}
.bigger-button,
.bigger-button:active,
.bigger-button:focus,
.bigger-button:hover {
	font-weight: 500!important;
	height: 42px!important;
	line-height: 43px!important;
	margin: 30px 0!important;
	padding: 0 16px!important;
}
input[type=checkbox],
.checkbox,
input[type=radio],
.radio {
	background: transparent!important;
	border: none!important;
	height: auto!important;
	margin-top: 7px!important
}
select[size] {
	font-size: 12px;
	height: auto
}
select[size="1"] {
	height: 39px;
	line-height: 39px;
}
.invalid {
	background: #fffef4;
	border: 1px solid #e25527!important;
	color: #000
}
label {
	color: #111;
	font-size: 13px;
	font-weight: 600;
	padding: 0 6px 0 0;
}
label.invalid {
	background: #fff;
	border: none!important;
	color: #e25527!important
}
fieldset.filters > div > * {
	float: left;
	margin-right: 10px
}
fieldset.filters > div > label { margin-top: 6px; }
section article { margin-top: 20px; }
section > header {
	margin: 0 0 32px;
	padding: 0
}
section > header div p {
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	text-transform: uppercase
}
section img {
	height: auto!important;
	max-width: 100%!important
}
section.category .children,
section.blog .children {
	clear: both;
	margin-top: 32px
}
section.categories-list ul ul { }
section.categories-list ul ul li {
	border-bottom: 1px solid #e5e5e5;
	border-left: 3px solid #fa7252;
	padding-left: 16px
}
section.categories-list ul ul li:first-child,
section.blog .items-row article header li {
	border-bottom: none;
	border-top: none
}

section.categories-list li > div p,
section.category .children li > div p,
section.blog .children li > div p {
	font-size: 14px;
	margin: .5em 0
}
section.categories-list li > dl,
section.category .children li > dl,
section.blog .children li > dl {
	float: right;
	font-size: 11px;
	margin: 0
}
section.categories-list li > dl > dt,
section.category .children li > dl > dt,
section.blog .children li > dl > dt { float: left }
section.categories-list li > dl > dd,
section.category .children li > dl > dd,
section.blog .children li > dl > dd {
	float: left;
	font-weight: 700;
	margin-left: 5px
}
section.category .children h3,
section.blog .children h3 {
	color: #FA7252;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	margin: 20px 0 0 10px
}
section.category .children li,
section.blog .children li {
	border: none;
	border-bottom: 1px solid #e5e5e5;
	font-size: 12px;
	font-weight: 700;
	padding: 10px
}
.filters .display-limit select {
	display: inline!important;
	float: none
}
table {
	margin-bottom: 20px;
	width: 100%
}
th {
	border-bottom: 3px solid #FA7252;
	color: #010101;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	text-align: left;
	text-transform: uppercase;
}
th a { color: #010101!important; }
td.list-title { font-weight: 700 }
tbody tr td {
	font-size: 12px;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px
}
tbody tr td p { margin: .5em 0 }
tbody tr td a, section.category .children li a { color: #010101 }
tbody tr td a:hover, section.category .children li a:hover { color: #FA7252 }
section.blog .items-row {
	clear: both;
	margin-bottom: 0px;
	overflow: hidden
}
section.blog-featured .items-row {
	margin-top: 40px;
	margin-bottom: 0;
}
.blog-featured article { padding: 52px 0 0 0; }
section.blog-featured .items-row:first-child { margin-top: 0; }
section.blog .items-row.cols-2 header h2,
section.blog-featured .items-row.cols-2 header h2 { font-size: 28px; }
section.blog .items-more { margin: 32px 0; }
section.blog .items-more h3 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 20px;
}
.items-leading > div {
	clear: both!important;
	margin-top: 50px;
}
.items-leading > div:first-child { margin-top: 0; }
/* Article */

#gkMainbody b,
#gkMainbody strong {
	font-weight: 600;
	color: #111
}
article,
article > section { position: relative }
article aside {
	display: block;
	float: left;
	font-size: 13px;
	padding-top: 24px;
	padding-bottom: 24px;
	text-align: center;
	width: 90px
}
article aside.itemAsideInfo > img,
article aside.itemAsideInfo > ul li { margin: 0 0 22px }
article aside.itemAsideInfo p,
article aside.itemAsideInfo li.itemPrintEmail a {
	color: #444;
	font-weight: 400;
	margin: 0 0 2px
}
article header {
	margin: 0 0 24px;
	padding: 0 0 0 90px;
	position: relative;
	width: 100%
}
article header.nodate { padding: 0; }
header > time {
	border: 1px solid #e5e5e5;
	color: #000;
	left: 0;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 500;
	min-width: 60px;
	padding: 10px;
	position: absolute;
	text-transform: uppercase;
}
header > time > small {
	display: block;
	font-size: 12px;
}
li.print-icon,
li.email-icon { }
li.print-icon a,
li.email-icon a {
	position: relative;
	top: 3px;
}
article header.itemHasImage { position: relative }
article header.itemHasImage h1 {
	background: rgba(0,0,0,0.8);
	bottom: 36px;
	left: 0;
	line-height: 1.1;
	padding: 10px 16px;
	position: absolute;
	width: 65%;
	z-index: 1;
	color: #fff;
}
article header.itemHasImage h1 a { color: #fff!important; }
article header.itemHasImage h1 a:active,
article header.itemHasImage h1 a:focus,
article header.itemHasImage h1 a:hover { color: #fa7252!important; }
.blog article,
.blog-featured article {
	border-top: 1px solid #e5e5e5;
	margin-bottom: 20px!important;
	padding-top: 48px!important;
}
.blog .itemBody,
.blog-featured .itemBody { margin: 0; }
.blog .leading > article:first-child,
.blog-featured .leading > article:first-child,
.blog .leading-0 > article:first-child,
.blog-featured .leading-0 > article:first-child {
	border-top: none;
	padding-top: 0!important;
}
.blog .items-row:first-child article:first-child,
.blog-featured .items-row:first-child article:first-child { padding-top: 0!important; }
.blog .cols-1:first-child article,
.blog .cols-2 article:first-child,
.blog-featured .cols-1:first-child article,
.blog-featured .cols-2 article:first-child { border-top: none; }
.blog article p.readmore,
.blog-featured article p.readmore { margin-top: 50px; }
.blog article p.readmore a,
.blog-featured article p.readmore a {
	display: inline-block!important;
	float: none!important;
}
article header h1,
article header h2 {
	font-size: 36px;
	line-height: 1;
	margin: 0 0 12px;
	
}
article header ul { display: inline-block; }
article header li {
	color: #999;
	display: inline-block;
	float: none;
	font-size: 12px !important;
	margin: 0 !important;
}
article header li { padding-right: 20px; }
article header li:last-child { padding-right: 0; }
article header li:first-child { margin-left: 0; }
article header li a { color: #010101 }
article header li a:hover { color: #FA7252 }
article.item-page ul.content-links li { background: none }
.img-intro-none { float: none }
.img-intro-none img {
	float: none!important;
	margin: 0 auto
}
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right {
	float: none;
	margin: 0 0 40px;
	overflow: hidden;
	position: relative
}
.img-fulltext-none img,
.img-fulltext-left img,
.img-fulltext-right img {
	display: block;
	height: auto!important;
	max-width: 100%!important;
	width: 100%!important
}
p.img_caption {
	display: block;
	color: #999;
	padding: 8px 0 0;
	font-size: 11px;
}
section.blog div.img_caption img.caption {
	display: block;
	float: none!important
}
.item-page ul { list-style-type: none }
.edit fieldset > div {
	clear: both;
	padding: 5px 0
}
.edit fieldset > div label {
	display: block;
	float: left;
	min-width: 120px
}
.login .login-fields { padding-bottom: 16px }
.login .login-fields label {
	display: block;
	float: left;
	line-height: 34px;
	min-width: 100px
}
.login ul {
	font-size: 11px;
	margin-top: 40px
}
.profile dl { margin: 32px 0; }
.profile dt {
	clear: both;
	color: #444;
	float: left;
	font-size: 14px;
	font-weight: 400;
	min-width: 200px;
}
.contact-details,
.contact-image {
	float: left;
	width: 45%
}
.contact-details {
	width: 50%;
	margin-right: 5%
}
.contact-address { margin: 30px 0 }
.contact-form dl {
	float: left;
	width: 50%;
}
.contact-form legend {
	color: #999;
	font-size: 12px;
	margin: 0 0 24px;
}
.contact-form .button.validate {
	clear: both;
	margin: 20px 0 0 0;
}
.contact-form input {
	margin: 6px 0 0;
	width: 80%
}
.contact-form textarea {
	height: 202px;
	width: 100%;
}
dt.inline,
dd.inline {
	display: inline-block!important;
	float: left!important;
	margin: 12px 0 0;
	width: auto!important
}
.contact h3 {
	clear: both;
	font-size: 24px;
	margin: 0;
	padding: 52px 0 0;
}
.jicons-text {
	color: #010101;
	font-size: 12px;
	font-weight: 700;
}
.contact-miscinfo {
	border-top: 1px solid #E5E5E5;
	font-size: 14px;
	margin: 48px 0 0;
	padding: 18px 0 0;
}
#jform_contact_email_copy { margin-left: 10px }
section.newsfeed > ol { list-style: none }
section.newsfeed > ol > li {
	border-top: 1px solid #e5e5e5;
	padding: 24px 0 0
}
section.newsfeed > ol > li > a { font-size: 42px }
section.contentpane iframe { border: 1px solid #e5e5e5; }
.tip-wrap { z-index: 1; }
.tooltip {
	background: #fff;
	border: 1px solid #ccc;
	max-width: 350px;
	min-width: 160px;
	padding: 8px;
	position: absolute!important;
	opacity: 1;
	z-index: 10;
}
.tooltip-inner strong {
	background: #fa7252;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	padding: 5px 15px;
	width: 100%;
	clear: both;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tooltip-inner {
	color: #555;
	font-size: 12px;
	padding: 5px 0
}
.tooltip-inner br {
     display: none;
} 
#system-message {
	margin: 0;
	position: relative;
}
#system-message a.close,
#system-message h4.alert-heading {
	display: none;
}
#system-message p { margin: 0; padding:  0; text-align: center; font-size: 14px}
#system-message dd ul { list-style: none!important }
#system-message dd ul,
#system-message dd ul li { line-height: 1; }
#system-message dd,
#system-message .alert {
	background: #f3f4f6;
	color: #080808;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	min-height: 24px;
	padding: 12px 10px;
	text-align: center;
}
#system-message dd.error,
#system-message .alert-error {
	background: #fb7252;
	color: #fff;
}
#system-message dd.notice,
#system-message .alert-notice {
	background: #52b5fa;
	color: #fff;
}
#system-message-container {
	margin: 0;
	padding: 0;
}
#gkBreadcrumb + #system-message-container { margin-top: -32px; }
.item-page > div.pagination { display: none!important }
.pagination {
	clear: both;
	margin: 60px 0 20px;
}
.pagination ul li:before { content: "" !important; }
.pagination ul li {
	background-image: none!important;
	color: #909090;
	cursor: default;
	display: inline-block;
	margin: 0;
}
.pagination ul li a,
.pagination ul li span {
	border: 1px solid #E5E5E5;
	display: block;
	font-size: 11px;
	font-weight: 600;
	height: 32px;
	line-height: 27px;
	margin: 0 7px 0 0;
	min-width: 32px;
	padding: 2px 6px;
	text-align: center;
	text-transform: uppercase;
}
.pagination ul li a:hover,
.pagination ul li span:hover {
	border-color: #1B1D1F;
	background: #1B1D1F;
	color: #eee!important;
}
.pagination ul li.counter {
	float: right;
	font-size: 11px;
	line-height: 38px;
	margin-right: 12px
}
ul.pagenav {
	margin: 0;
	overflow: hidden;
	padding: 0
}
#member-registration dt,
#member-registration dd {
	
	padding-bottom: 10px
}
#member-registration dt { min-width: 170px }
#member-registration dd { min-width: 200px }
#member-registration dd:after {
	content: '\A';
	white-space: pre
}
.bannergroup:first-line,
.bannergroup_text:first-line {
	font-size: 16px;
	line-height: 3;
	font-weight: 500;
}
div.banneritem {
	border-top: 1px solid #e5e5e5;
	font-size: 14px;
	padding: 8px 0
}
div.banneritem a {
	font-size: 14px;
	margin-bottom: 3px;
}
div.bannerfooter {
	border-top: 1px solid #e5e5e5;
	color: #fa7252;
	font-size: 12px;
	padding: 5px 5px 0 0;
	text-align: right
}
#gkSocialAPI {
	border: 1px solid #e5e5e5;
	border-left: none;
	border-right: none;
	clear: both;
	margin: 0!important;
	padding: 24px 0 20px 0;
	text-align: center;
}
#gkSocialAPI > * {
	display: inline-block;
	margin: 0 12px;
	vertical-align: top;
}
/*#gkSocialAPI .fb_iframe_widget {
	margin-left: 10px;
}
#gkSocialAPI > iframe,
#gkSocialAPI > #___plusone_0 {
	position: relative;
	top: -18px;
}
#gk_fyuyu { position: absolute; right: 4221px; }
#gkSocialAPI > #___plusone_0 {
	top: -22px;
}
#gkSocialAPI #___plus_0 {
	margin-right: 10px!important;
	position: relative;
	vertical-align: top
}
#gkSocialAPI > a { 
	top: -5px; 
}
.fb_iframe_widget iframe {
	max-width: 1000px!important;
	overflow: visible;
}*/
#dynamic_recaptcha_1,
#recaptcha_area {
	max-width: 480px;
	min-height: 140px
}
#gkMainbody #dynamic_recaptcha_1,
#gkMainbody #recaptcha_area { margin-bottom: 10px }
.pane-sliders .panel h3 {
	border-top: 1px solid #E5E5E5;
	font-size: 13px;
	font-weight: 500;
	line-height: 32px;
	margin: -1px 0 0;
	padding: 8px 0;
	
}
.pane-slider { padding-left: 32px }
.pagenavcounter {
	color: #444;
	font-weight: 400;
}
#article-index {
	float: right;
	margin: 0 0 30px 72px;
	width: auto
}
#article-index h3 {
	color: #333;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	margin: 0 0 -8px;
	
}
#article-index li a.active { color: #444; }
#article-index li:first-child {
	border-top: none;
	margin-top: 10px
}
dl#tabs,
dl.tabs {
	
	margin: 0 0 -1px;
	min-height: 30px;
	overflow: hidden;
	padding: 16px 0 0
}
dl#tabs dt.tabs,
dl.tabs dt.tabs { float: left;}


dl#tabs dt.tabs span h3,
dl.tabs dt.tabs span h3 {
	color: #010101;
	font-size: 12px;
	font-weight: 700;	
	text-transform: none
}
dl#tabs dt.tabs span h3 a,
dl.tabs dt.tabs span h3 a {
	 background: #f1f1f3;
	border: 1px solid #e5e5e5;
	color: #444;
	float: left;	
	line-height: 25px;
	margin: 0 -1px 0 0;
	padding: 11px 16px 8px
}

dl#tabs dt.tabs span h3 a:hover,
dl.tabs dt.tabs span h3 a:hover { color: #fa7252 }
dl#tabs dt.tabs h3:hover a,
dl.tabs dt.tabs h3:hover a { cursor: pointer }
dl#tabs dt.tabs.open a,
dl.tabs dt.tabs.open a {
	background: #fff;
	border: 1px solid #e5e5e5;
	border-bottom: 1px solid transparent;
	border-top: 4px solid #fa7252;
	padding: 8px 16px
}
.current { border: 1px solid #e5e5e5; padding: 20px}
#search-searchword { width: 60% }
#searchForm fieldset input[type="radio"],
#searchForm fieldset input[type="checkbox"] { margin-top: 11px!important }
#search-form fieldset.word label,
#search-form fieldset.word input,
#search-form fieldset.word button {
	float: left;
	margin-right: 5px
}
#searchForm label,
#searchForm input,
#finder-search input {
	float: left;
	font-weight: normal;
	margin: 0 12px 0 0;
	text-transform: none
}
fieldset.phrases,
fieldset.only {
	color: #010101;
	font-size: 12px;
	font-weight: 700;
	line-height: 36px;
	margin: 0;
	padding: 0;
}
#searchForm fieldset.word {
	background: #f2f4f5;
	border: 1px solid #E5E5E5;
	margin: 0 0 50px;
	padding: 18px;
}
#searchForm fieldset.word .button,
#adminForm fieldset.filters .button {
	height: 39px;
	line-height: 39px;
}
#searchForm fieldset legend {
	float: left;
	padding: 0 24px 0 0
}
.searchintro strong {
	color: #444;
	font-size: 16px;
	font-weight: 400
}
.form-limit {
	float: right;
	margin: 24px 0 0
}
.result-category,
.result-created {
	color: #999;
	display: inline-block;
	font-size: 12px;
	padding: 0 0 8px
}
.result-title {
	clear: both;
	font-weight: 600;
	margin: 12px 0 0;
}
.result-text {
	border-bottom: 1px solid #e5e5e5;
	padding: 0 0 24px;
	margin: 0 0 24px;
}
#advanced-search-toggle {
	display: block;
	font-size: 11px;
	padding: 10px 0;
	text-align: center
}
.advanced-search-tip {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	font-size: 12px;
	margin: 0 0 24px;
	padding: 12px 0
}
.advanced-search-tip p { margin: 0 }
#finder-filter-select-list label {
	clear: both;
	float: left;
	font-size: 12px;
	line-height: 36px;
	min-width: 140px
}
#finder-filter-select-list li {
	overflow: hidden;
	padding: 0
}
#search-query-explained {
	border-bottom: 1px solid #e5e5e5;
	font-size: 11px;
	padding: 10px 0
}
#search-result-empty h2 { font-size: 18px }
.autocompleter-queried { color: #fa7252!important }
div.search-pages-counter {
	font-size: 12px;
	font-style: italic;
	text-align: center
}
.search-results .highlight {
	background-color: #ffc;
	font-weight: 400;
	padding: 1px 4px
}
.archive article {
	border-bottom: 1px solid #e5e5e5;
	padding: 32px 0 0;
	margin: 0 !important
}
.archive header { text-align: left }
.archive article header h1 {
	font-size: 24px;
	font-weight: 400;
}
.img-intro-left,
.img-intro-right,
.img-intro-center {
	margin-bottom: 20px;
	max-width: 100%!important
}
.img-intro-left img,
.img-intro-right img,
.img-intro-center img {
	display: block;
	width: 100%;
}
/* Users */

#member-profile dt {
	float: left;
	width: 260px;
}
#member-profile dd { padding: 2px 0 }
#member-profile fieldset { margin: 0 0 32px }
/* Languages */
div.mod-languages > div,
div.mod-languages > form {
	display: inline-block;
	margin: 0 3px
}
div.mod-languages { text-align: center }
div.mod-languages p { margin-bottom: .5em }
.mod-languages ul.lang-inline,
.mod-languages ul.lang-block {
	display: inline-block;
	float: left
}
div.mod-languages > ul.lang-block > li,
div.mod-languages > ul.lang-inline > li {
	line-height: 32px;
	margin: 0 5px
}
.mod-languages ul li.lang-active { font-weight: 700 }
.mod-languages ul li a img {
	-moz-transform: scale(1);
	-moz-transform-style: preserve-3d;
	-moz-transition: 0 .1s ease-out;
	-ms-transform: scale(1);
	-ms-transform-style: preserve-3d;
	-o-transform: scale(1);
	-o-transition: 0 .1s ease-out;
	-webkit-transform: scale(1);
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0 .1s ease-out;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .1s ease-out
}
.mod-languages ul li a:hover img {
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-webkit-transition: 0 .6s ease-out;
	transform: scale(1.2);
	transition: transform .6s ease-out
}
.mod-languages ul li.lang-active a img {
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}
legend.hidelabeltxt,
.filters .hidelabeltxt,
.contact .jicons-icons,
#system-message dt { display: none }
fieldset.filters,
.blog .leading,
.content-links,
.pane-sliders { margin-bottom: 30px; }
section article:first-child,
section.blog .items-more ol { margin-top: 0 }
.filters .display-limit,
ul.pagenav .pagenav-next,
ul.pagenav .next { float: right }
.itemBody ul.pagenav li {
	list-style: none;
	padding: 0;
	overflow: visible;
}
.itemBody ul.pagenav li:before {
	content: "";
}
.img-intro-left,
.img-intro-right,
.img-intro-left > img,
.img-intro-right > img,
section.blog div.img_caption { float: none!important }
/* page links */
div.articleContent div.content-links ul li {
	background: none !important;
	padding-left: 0 !important;
}
/*
 * Joomla! and K2 common parts
 */
 
.itemAsideInfo {
	position: absolute;
	top: 0;
}
.itemBody.containsItemInfo,
.itemOtherElements.containsItemInfo,
.itemListView .itemBlock.containsItemInfo { margin-left: 160px }
.itemAsideInfo img {
	max-width: 86px!important;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
/* edit page */

.item-page.edit fieldset {
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 52px;
	padding: 0 0 52px;
}
.item-page.edit legend {
	font-size: 100% !important;
	font-style: normal !important;
	padding: 0 0 24px;
}
/* Calendar fix */
.calendar .button {
	display: table-cell;
	float: none;
}
/* F.A.Q. */

.faq p { margin-bottom: 3em }
.faq-title { color: #FA7252}
/* menu module */

.menu li {
	font-size: 12px;
	font-weight: 700;
}

/* Login/register form */

.login_register_form h1 { font-size: 22px}
.login_register_form span {
	float: left;
	
	width: 50%;
}

.login_register_col {
	float: left;
	padding-right: 80px;
	width: 50%;
}
.login_register_col + .login_register_col {
	border-left: 1px solid #e5e5e5;
	padding-left: 80px;
	padding-right: 0;
}
.login_register_col input { width: 100%}
.login_register_col.login ul { border-top: 1px solid #e5e5e5}
.login_register_col.login li { float: left; margin-right: 16px; padding: 12px 0 0}
.login_register_col dl { margin: 0 0 12px}


/* user edit page */
.item-page.edit .formelm {
     width: 100%;
}
#gkMainbody .item-page.edit a {
	color: #333;
}
.item-page.edit input {
     float: left;
     height: 38px;
}
.item-page.edit #jform_images_image_intro,
.item-page.edit #jform_images_image_fulltext {
     padding: 4px 6px!important;
     height: auto;
}
.item-page.edit .formelm .btn  {
     float: left;
     display: inline-block;
}
.item-page.edit .icon-calendar:before {
     content: "";
}
.gkTypoTable code {
     border: 0;
     margin: 0!important;
     padding: 0!important;
}
.calendar .button {
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
     border: 0;
}
.tooltip.top .tooltip-arrow {
	display: none;
}
.tooltip-inner {
	background: #fff;
}
.btn.jmodedit > span.icon-edit {
   color: #272727;
   top: -10px;
   padding-right: 8px;
   display: block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
.btn.jmodedit > span.icon-edit:before{
	content: "\f044";
}

/* tags */
#adminForm div.tags {
     margin-top: 0;
}
div.tags {
     margin-top: 32px;
     overflow: hidden;
}
div.tags > span.tags-label {
     float: left;
     margin-right: 30px;
     line-height: 30px;
     color: #999;   
     font-size: 13px; 
}
.item-page .tags {
	padding-bottom: 15px;
	float: none;
	display: block;
	width: 100%;
	clear: both;
	padding: 32px 0;
	font-size: 13px;
}
div.tags a {
     display: inline-block;
     float: left;
     margin: 3px;
     font-size: 13px;
     background: #F1F2F3;
     padding: 0 12px;
     line-height: 2.0;
     color: #1B1D1F;
}
div.tags a:hover {
	color: #FA7252;
}
span.tag-body p {
     display: inline;
}
div.tags.tagcloud a.gk-tooltip span {
    z-index:10;
    font-weight: bold;
    display:none;
    padding: 15px;
    margin-top: -50px;
    margin-left: 60px;
    width: 240px;
    max-width: 240px;
    line-height:16px;
    font-size: 85%;
    font-weight: normal!important;
    transition: all 1s ease-in;
}

div.tags.tagcloud  a.gk-tooltip:hover span {
     border: 1px solid #ccc;
     background: rgba(255, 255, 255, 0.9);
    display:inline;
    position:absolute;
    color:#111;
}
div.tags.tagcloud a.gk-tooltip span img {
     max-width: 80px!important;
     height: auto;
     float: left;
     margin: 0 10px 10px 0;
}
div.tag-category ul.category li img {
	clear: both;
	width: 100%;
	display: block;
	margin: 16px 0;
}
div.tag-category div.btn-group.pull-right {
     float: right;
}
div.tag-category div.btn-group label {
     margin-top: 10px;
}
div.tag-category select {
	display: block!important;
}
div.tag-category .chzn-container {
	display: none!important;
}
div.tag-category h3 {
    margin: 0 0 32px 0;
}
div.tag-category ul.category li {
     border-bottom: 1px solid #ccc;
     padding: 10px;
     font-size: 90%;
}
div.tag-category ul.category li h3 {
     font-size: 14px;
     margin: 0;
}
div.tags.tagcloud a {
     float: left;
     margin-bottom: 6px;
}
