/*
#------------------------------------------------------------------------
# University - May Joomla! template (for Joomla 2.5)
#
# Copyright (C) 2007-2013 Gavick.com. All Rights Reserved.
# License: Copyrighted Commercial Software
# Website: http://www.gavick.com
# Support: support@gavick.com 
*/
 
/* Style 1 */

/* template.css */
a,
#gkMainbody header h1 a:active,
#gkMainbody header h1 a:focus,
#gkMainbody header h1 a:hover,
#gkMainbody header h2 a:active,
#gkMainbody header h2 a:focus,
#gkMainbody header h2 a:hover,
#k2Container article header h2 a:active,
#k2Container article header h2 a:focus,
#k2Container article header h2 a:hover,
#community-wrap .joms-stream-box article>a,
.faq li a:hover,
#login-form ul li a:hover {
	color: #65c1cf;
}
.readon {
	color: #65c1cf;
}
.breadcrumbs li a:hover { color: #65c1cf; }
#gkFooter a:active,
#gkFooter a:focus,
#gkFooter a:hover { 
	color: #65c1cf;
}
.box.transparent a:active,
.box.transparent a:focus,
.box.transparent a:hover {
	color: #65c1cf;
}
.box.transparent ul + a {
	color: #65c1cf;
}
.box.dark a:active,
.box.dark a:focus,
.box.dark a:hover { color: #65c1cf!important; }
.box.color1,
.box.color2 {
	background: #f0b356;
}
.box.color2 {
	background: #65c1cf;
}
.menu li a:hover,
.icons-menu li a:hover { color: #65c1cf !important; }
.box.icons-menu li a:active i,
.box.icons-menu li a:focus i,
.box.icons-menu li a:hover i {
	color: #65c1cf;
}
.box.icons-menu .last-item a {
	color: #65c1cf;
}
#gkBottom5 .box a:active,
#gkBottom5 .box a:focus,
#gkBottom5 .box a:hover {
	color: #65c1cf;
}
#gkPopupLogin #login-form + a:hover {background: #65c1cf;}

/* joomla.css */
button,
.button,
input.button,
span.button,
button.button,
div.button,
input[type="submit"],
input[type="button"],
.pagenav-prev a,
.pagenav-next a,
#gkMainbody .itemReadMore,
#gkMainbody .readmore > a,
.button.invert:active,
.button.invert:focus,
.button.invert:hover,
.gkShowCart a,
body #cWindow a.plupload_button {
	background: #65c1cf;
	border: 1px solid #65c1cf;
}
section.categories-list ul ul li {
	border-left: 3px solid #65c1cf;
}
section.category .children h3,
section.blog .children h3 {
	color: #65c1cf;
}
th {
	border-bottom: 3px solid #65c1cf;
}
tbody tr td a:hover, section.category .children li a:hover { color: #65c1cf }
article header.itemHasImage h1 a:active,
article header.itemHasImage h1 a:focus,
article header.itemHasImage h1 a:hover { color: #65c1cf!important; }
article header li a:hover { color: #65c1cf }
.tip-title {
	background: #65c1cf;
}
#system-message dd.error {
	background: #fb7252;
}
#system-message dd.notice {
	background: #f0b356;
}
div.bannerfooter {
	color: #65c1cf;
}
dl#tabs dt.tabs span h3 a:hover,
dl.tabs dt.tabs span h3 a:hover { color: #65c1cf }
.autocompleter-queried { color: #65c1cf!important }
.faq-title { color: #65c1cf}

/* gk_stuff.css */
.nspPagination li:hover,
.nspPagination li.active { background-color: #65c1cf; }
.nspNext:hover:after,
.nspPrev:hover:after { color: #65c1cf; }
.nspArt .nspHeader a:hover,
.nspLinks ul li h4 a:hover { color: #65c1cf !important; }
.box.dark a.readon:active,
.box.dark a.readon:focus,
.box.dark a.readon:hover { color: #65c1cf!important; }
.box.dark .nspPagination li.active { background: #65c1cf; }
.darkbar .nspHeader a:active,
.darkbar .nspHeader a:focus,
.darkbar .nspHeader a:hover,
.darkbar li h4 a:active,
.darkbar li h4 a:focus,
.darkbar li h4 a:hover { color: #65c1cf !important; }
.gkNspPM-EventsList a:active,
.gkNspPM-EventsList a:focus,
.gkNspPM-EventsList a:hover {
	color: #65c1cf;
}
.gkNspPM-EventsList .gkEventsListProgress > div {
	background: #65c1cf;
}
.gkTabsWrap ol li.active,
.gkTabsWrap ol li.active:hover {
	border-top: 4px solid #65c1cf;
}
.gkIsWrapper-gk_university .gkProgress {
	border: 1px solid #65c1cf;
}
.gkIsWrapper-gk_university .gkProgressBar {
	background: #65c1cf;
}
.gk-features li.highlighted strong {
	background: #65c1cf;
	border: 1px solid #65c1cf;
}
.gkMenu .nspArt .readon {
	color: #65c1cf!important;
}
.gkTweet p > a:active,
.gkTweet p > a:focus,
.gkTweet p > a:hover { color: #65c1cf; }
.gkTweet > div > .gkTweetInfo:before {
	color: #65c1cf;
}
.gkInformation > div > input[type="submit"] {
	background: #f0b356;
}
.gkInformation > div > input[type="submit"]:active,
.gkInformation > div > input[type="submit"]:focus,
.gkInformation > div > input[type="submit"]:hover { background: #65c1cf; }
.gkEvent .gkEventPeriod:before,
.gkEvent .gkEventHours:before {
	color: #65c1cf;
}
.gkEvent .gkEventRegister {
	background: #f0b356;
}
.gkEvent .gkEventRegister:hover { background: #65c1cf; }
.gkEventCounter > div {
	background: #65c1cf;
}

/* menu.css */
.gkMenu > ul > li > a:active,
.gkMenu > ul > li > a:focus,
.gkMenu > ul > li > a:hover,
.gkMenu > ul > li.active > a:active,
.gkMenu > ul > li.active > a:focus,
.gkMenu > ul > li.active > a:hover {
	color: #65c1cf;
}
.gkMenu > ul li div.childcontent a:hover {
	color: #65c1cf!important;
}
#gkHeaderNav li.gkLogin {
	border: 1px solid rgba(101, 193, 207, 0.5);
}
#gkHeaderNav li.gkLogin:hover {
	border-color: #65c1cf;
}
#close-menu {
	color: #65c1cf;
}
#aside-menu li a.active,
#aside-menu li a:active,
#aside-menu li a:focus,
#aside-menu li a:hover {
	color: #65c1cf;
}

/* k2.css */
.k2FeedIcon a:before,
a.k2FeedIcon:before {
	color: #65c1cf;
}
.itemComments .icon-comments {
	background: #65c1cf;
}
.itemAuthorData a:hover,
ul.itemTags li a:hover,
.itemAuthorContent ul li a:hover { color: #65c1cf }
.k2AuthorsListBlock ul li a.abAuthorLatestItem:hover { color: #65c1cf; }
.k2CalendarBlock table.calendar tr td.calendarDateLinked a:hover {
	background: #65c1cf;
}
.k2CalendarBlock table.calendar tr td.calendarToday {
	background: #65c1cf;
}
table.calendar tr td.calendarTodayLinked a {
	color: #65c1cf;
}
.k2CalendarBlock table.calendar tr td.calendarTodayLinked a:hover {
	background: #65c1cf;
}
.calendarNavLink { color: #65c1cf; }
.k2TagCloudBlock a:hover { color: #65c1cf }

/* jomsocial.css */
body #cWindow a { color: #65c1cf; }
#community-wrap .btn:hover,
#community-wrap .cPageBookmark:hover,
#community-wrap .cPageBookmark a:hover,
#community-wrap .cPageReport:hover,
#community-wrap .cPageReport a:hover,
body #cWindow .btn:hover,
body #cWindow button.btn:hover,
body #cWindow input[type="submit"].btn:hover,
body #cWindow .cWindowNotification-Jumper > a:hover { background: #65c1cf!important; }
#community-wrap .btn-primary,
body #cWindow .btn-primary { background: #65c1cf!important; }
#community-wrap .navbar .nav li.dropdown.open > .dropdown-toggle,
#community-wrap .navbar .nav li.dropdown.active > .dropdown-toggle,
#community-wrap .navbar .nav li.dropdown.open.active > .dropdown-toggle,
#community-wrap .navbar .nav > .active > a,
#community-wrap .navbar .nav > .active > a:hover,
#community-wrap .navbar .nav > .active > a:focus {
	background-color: #65c1cf;
}
#community-wrap .navbar .nav > li > a:focus,
#community-wrap .navbar .nav > li > a:hover { color: #65c1cf; }
#community-wrap .navbar .nav > li > a.js-navbar-options:focus,
#community-wrap .navbar .nav > li > a.js-navbar-options:hover { color: #65c1cf; }
#community-wrap .dropdown-menu > li > a:hover,
#community-wrap .dropdown-menu > li > a:focus,
#community-wrap .dropdown-submenu:hover > a,
#community-wrap .dropdown-submenu:focus > a {
	background-color: #65c1cf;
}
#community-wrap .cSubmenu li a {
	color: #65c1cf;	
}
#community-wrap .cAlert.alert-error {
	background: #65c1cf;
}
#community-wrap .cGuest a {
	background: #65c1cf;
}
#community-wrap .login-area {
	background: #F2F4F5;
}
#community-wrap .login-area div a:hover { color: #65c1cf; }
#community-wrap .invalid { border: 1px solid #65c1cf !important }
span[id^="errjs"] { color: #65c1cf!important; }
#community-wrap .joms-stream-content header > a:hover {color: #65c1cf;  }
#community-wrap .js-focus-menu a {
	color: #65c1cf;
}
#community-wrap .js-toolbar .js-counter {
	background: #65c1cf;
}
#community-wrap .innerpgbar {
	background: #65c1cf;
}
#community-wrap .cTabsMenu li a:focus,
#community-wrap .cTabsMenu li a.selected,
#community-wrap .cPageTabs li a:focus,
#community-wrap .cPageTabs li.cTabCurrent a {
	background: #65c1cf;
}
#community-wrap .cTabsMenu li a:hover,
#community-wrap .cPageTabs li a:hover {
	background: #65c1cf;
}
#community-wrap .cToolBox-Options li a:hover span { background: #65c1cf; }

@media (max-width: 980px) {
#community-wrap .nav-collapse .nav>li>a:hover,
 #community-wrap .nav-collapse .nav>li>a:focus,
 #community-wrap .nav-collapse .dropdown-menu a:hover,
 #community-wrap .nav-collapse .dropdown-menu a:focus { 
 	background: #65c1cf!important; 
 }
}
#community-wrap .joms-postbox-tab li:hover, 
#community-wrap .joms-postbox-tab li:focus, 
#community-wrap .joms-postbox-tab li.active { color: #65c1cf}
