textarea#billing_address {
    padding: 0;
    height: 136px !important;
    padding-left: 15px;
    width: 96%;
padding-top: 10px;
}


<h2 id="title-form">{global:formtitle}</h2>
<div id="smartwizard" class="sw-main sw-theme-arrows">
    <ul class="nav nav-tabs step-anchor"> 
        <li id="rs_show_step1" class="done"><a href="#step-1">Step 1<br><small>Have you already worked <br>in a school? </small></a>
        </li>
        <li  id="rs_form_reg" class="active"><a href="#step-2">Step 2<br><small>Register and  <br>buy your listings.</small></a>
        </li>
        <li id="rs_step_3"><a href="#step-3">Step 3<br><small>Complete your business listings and have <br>them appear instantaneously on Eisau.</small></a>
        </li>
        <li id="rs_step_4"><a href="#step-4">Step 4<br><small>Receive enquiries and  <br>business fromschools.</small></a>
        </li>
    </ul>

    <div class="sw-container tab-content" style="height: auto !Important;">
        <div id="step-1" class="step-content" style="display: block;">
                <h2>{global:formtitle}</h2>
{error}
<!-- Do not remove this ID, it is used to identify the page so that the pagination script can work correctly -->
<fieldset class="form-horizontal formContainer" id="rsform_{global:formid}_page_0">
    <div class="form-group rsform-block rsform-block-billing-first-name{billing_first_name:errorClass}">
        <label class="col-sm-3 control-label formControlLabel" data-toggle="tooltip" title="{billing_first_name:description}" for="billing_first_name">{billing_first_name:caption}<strong class="formRequired">*</strong></label>
        <div class="col-sm-6 formControls">
            {billing_first_name:body}           
        </div>
        <div class="col-sm-3"><span class="formValidation">{billing_first_name:validation}</span>           
        </div>
    </div>
    <div class="form-group rsform-block rsform-block-billing-last-name{billing_last_name:errorClass}">
        <label class="col-sm-3 control-label formControlLabel" data-toggle="tooltip" title="{billing_last_name:description}" for="billing_last_name">{billing_last_name:caption}<strong class="formRequired">*</strong></label>
        <div class="col-sm-6 formControls">
            {billing_last_name:body}            
        </div>
        <div class="col-sm-3"><span class="formValidation">{billing_last_name:validation}</span>            
        </div>
    </div>
    <div class="form-group rsform-block rsform-block-billing-email{billing_email:errorClass}">
        <label class="col-sm-3 control-label formControlLabel" data-toggle="tooltip" title="{billing_email:description}" for="billing_email">{billing_email:caption}<strong class="formRequired">*</strong></label>
        <div class="col-sm-6 formControls">
            {billing_email:body}            
        </div>
        <div class="col-sm-3"><span class="formValidation">{billing_email:validation}</span>            
        </div>
    </div>
    <div class="form-group rsform-block rsform-block-billing-phone{billing_phone:errorClass}">
        <label class="col-sm-3 control-label formControlLabel" data-toggle="tooltip" title="{billing_phone:description}" for="billing_phone">{billing_phone:caption}<strong class="formRequired">*</strong></label>
        <div class="col-sm-6 formControls">
            {billing_phone:body}            
        </div>
        <div class="col-sm-3"><span class="formValidation">{billing_phone:validation}</span>            
        </div>
    </div>
    <div class="form-group rsform-block rsform-block-billing-address{billing_address:errorClass}">
        <label class="col-sm-3 control-label formControlLabel" data-toggle="tooltip" title="{billing_address:description}" for="billing_address">{billing_address:caption}<strong class="formRequired">*</strong></label>
        <div class="col-sm-6 formControls">
            {billing_address:body}          
        </div>
        <div class="col-sm-3"><span class="formValidation">{billing_address:validation}</span>          
        </div>
    </div>
    <div class="form-group rsform-block rsform-block-billing-post-code{billing_post_code:errorClass}">
        <label class="col-sm-3 control-label formControlLabel" data-toggle="tooltip" title="{billing_post_code:description}" for="billing_post_code">{billing_post_code:caption}<strong class="formRequired">*</strong></label>
        <div class="col-sm-6 formControls">
            {billing_post_code:body}            
        </div>
        <div class="col-sm-3"><span class="formValidation">{billing_post_code:validation}</span>            
        </div>
    </div>
    <div class="form-group rsform-block rsform-block-billing-city{billing_city:errorClass}">
        <label class="col-sm-3 control-label formControlLabel" data-toggle="tooltip" title="{billing_city:description}" for="billing_city">{billing_city:caption}<strong class="formRequired">*</strong></label>
        <div class="col-sm-6 formControls">
            {billing_city:body}         
        </div>
        <div class="col-sm-3"><span class="formValidation">{billing_city:validation}</span>         
        </div>
    </div>
    <div class="form-group rsform-block rsform-block-billing-region{billing_region:errorClass}">
        <label class="col-sm-3 control-label formControlLabel" data-toggle="tooltip" title="{billing_region:description}" for="billing_region">{billing_region:caption}<strong class="formRequired">*</strong></label>
        <div class="col-sm-6 formControls">
            {billing_region:body}           
        </div>
        <div class="col-sm-3"><span class="formValidation">{billing_region:validation}</span>           
        </div>
    </div>
    <div class="form-group rsform-block rsform-block-billing-country{billing_country:errorClass}">
        <label class="col-sm-3 control-label formControlLabel" data-toggle="tooltip" title="{billing_country:description}" for="billing_country">{billing_country:caption}<strong class="formRequired">*</strong></label>
        <div class="col-sm-6 formControls">
            {billing_country:body}          
        </div>
        <div class="col-sm-3"><span class="formValidation">{billing_country:validation}</span>          
        </div>
    </div>
    <div class="form-group rsform-block rsform-block-billing-submit{billing_submit:errorClass}">
        <label class="col-sm-3 control-label formControlLabel" data-toggle="tooltip" title="{billing_submit:description}" for="billing_submit">{billing_submit:caption}</label>
        <div class="col-sm-6 formControls">
            {billing_submit:body}           
        </div>
        <div class="col-sm-3"><span class="formValidation">{billing_submit:validation}</span>           
        </div>
    </div>
</fieldset>

        </div>
    </div>

</div>


 <script type="text/javascript" src="plugins/jquery.smartWizard.js"></script>   