/*
#------------------------------------------------------------------------
# University - May Joomla! template (for Joomla 2.5)
#
# Copyright (C) 2007-2014 Gavick.com. All Rights Reserved.
# License: Copyrighted Commercial Software
# Website: http://www.gavick.com
# Support: support@gavick.com 
*/

/* Basic elements */
html { -webkit-font-smoothing: subpixel-antialiased; }
body {
	background: #3f4e67;
	color: #fff;
	font-size: 14px;
	font-family: Rosario, sans-serif;
	font-weight: 300;
	line-height: 1.6;
	margin: 0;
	min-height: 100%;
	padding: 0;
	word-wrap: break-word;
}
a {
	color: #65c1cf;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
	text-decoration: none;
}
a:hover,
a:active,
a:focus { color: #fff; }
/* containers */
#gkPage {
	padding: 0;
	margin: 0 auto;
}

#gkPageWrap {
	background: transparent;
	padding: 50px 0;
}
#frame {
	clear: both;
	margin: 80px auto 30px;
	max-width: 100%;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 860px;
}
#errorNumber {
	float: left;
	padding: 31px 0 0;
	width: 39%;
}
/* Logo  */

#gkLogo {
	display: block;
	margin: 0 auto;
	padding: 0;
	text-indent: -999em;
	text-shadow: none;
}
#gkLogo img {
	display: block;
	margin: 0;
}
#gkLogo.cssLogo {
	background: url('../../images/logo.png') no-repeat center center;
	/* You can specify there logo size and background */
	height: 75px;
    width: 274px;
}
.svg #gkLogo.cssLogo { background-image: url('../../images/logo.svg'); }
#gkLogo.text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	height: 63px;
	line-height: 63px;
	margin: 0 auto;
	text-align: center;
	text-indent: 0;
	text-transform: uppercase;
	width: auto;
}
#gkLogo.text > span {
	display: block;
	font-size: 20px;
	font-weight: bold;
	line-height: 63px;
	padding: 0;
	text-align: left;
}
#gkLogo.text .gkLogoSlogan {
	color: #ddd;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 1;
	margin-top: -20px;
	text-align: left;
	text-transform: none;
}
/* Other elements */
h1 {
	color: #65c1cf;
	font-size: 200px;
	font-weight: 200;
	line-height: 1;
	margin:0;
}
h2 {
	display: inline-block;
	font-size: 36px;
	font-weight: bold;
	line-height: 38px;
	margin: 70px 0 0;
	padding: 11px 50px;
	position: relative;
	text-transform: uppercase;
	width: auto;
}
h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 300;
	
}
h3:after {
	border-bottom: 1px solid #60708c;
	content: "";
	display: block;
	margin: 42px auto 12px;
	width: 280px;
}
#errorboxbody {
	text-align: center;
	padding: 0 0 36px 0;
}

@media (max-width:1000px) {
	h2 { font-size: 24px; }
	h3 { font-size: 18px; }
}

@media (max-width:720px) {
	#frame {
		margin-top: 40px;
	}
	h1 { font-size: 150px; }
	h2 { 
		font-size: 20px;
		margin-top: 20px;
	}
	h3 { font-size: 14px; }
}

@media (max-width:540px) {
	h1 { font-size: 100px; }
	h2 { font-size: 16px; }
	h3 { font-size: 12px; }
}
