/* CSS Document */
body{
	font-size:12px;
}
body a:focus{
	outline: none;
}
input{border: none;outline: none;background: none;box-shadow: none;}
/* Tab for joomla2.5.x */
.nav-tabs > li {
    margin-bottom: -1px;
	list-style:none;
}
.nav-tabs > li, .nav-pills > li {
    float: left;
}

/* tab */
.yt-form-templatebackend .nav-tabs > li > a{
	font-size:14px;
	font-weight:bold;
	padding:8px 15px;
}
.yt-form-templatebackend .nav-tabs > li > a:hover{
	border-color:transparent;
	color:#555;
	background:none;
}
.yt-form-templatebackend .nav-tabs > .active > a, 
.yt-form-templatebackend .nav-tabs > .active > a:hover{
	outline:none;
	background: #F2F2F2;
	border-color:#DDD #DDD transparent;
	text-shadow:1px 1px 0 #FFF;
}
.yt-form-templatebackend  .ytcolor-wrap .color-picker{border-radius: 3px 0 0 3px !important;margin-right: -1px !important;height: 17px;}
/* tab content */
.yt-form-templatebackend .nav{
	margin:0 0;
}
.yt-form-templatebackend .tab-content{
	background:#F2F2F2;
	padding: 20px;
	border:1px solid #DDD;
	border-top:none;
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-o-border-radius:0 0 5px 5px;
}
/* field */
.yt-form-templatebackend .fieldset-desc{
	text-align: center;
	padding: 0 0 10px 0;
    text-shadow:1px 1px 0 #FFF;
	-moz-text-shadow:1px 1px 0 #FFF;
	-webkit-text-shadow:1px 1px 0 #FFF;
	o-text-shadow:1px 1px 0 #FFF;
	padding:0 0 20px 0;
    font-size: 14px;
    border-bottom: 1px solid #DDD;
}
.yt-form-templatebackend .fieldset-desc [class^="icon-"]:before{
	font-family: 'yt-icomoon';
}
.yt-form-templatebackend .control-group {
	border-top: 1px solid #DDD;
	padding-top:0;
	margin-bottom:7px;
}
.yt-form-templatebackend .left-overview .control-group {
	border:none;
}
.yt-form-templatebackend .control-group:first-child,
.yt-form-templatebackend .control-group.first{
	border: none;
}
.yt-form-templatebackend .control-group .control-label label{
	font-weight:bold;
	line-height:28px;
	text-shadow:1px 1px 0 #FFF;
	-moz-text-shadow:1px 1px 0 #FFF;
	-webkit-text-shadow:1px 1px 0 #FFF;
	o-text-shadow:1px 1px 0 #FFF;
	padding:10px 0 0;
	margin: 0 0;
}
.yt-form-templatebackend .control-group .control-desc{
	font-style:italic;
	font-size:11px;
	line-height: 16px;
	padding:10px 0 0;
	text-shadow:1px 1px 0 #FFF;
	-moz-text-shadow:1px 1px 0 #FFF;
	-webkit-text-shadow:1px 1px 0 #FFF;
	-o-text-shadow:1px 1px 0 #FFF;
}
.yt-form-templatebackend fieldset.yt-fieldset{
	position: relative;
	padding: 0 20px;
	border: 1px solid #DDD;
	box-shadow: 0 0 3px #BCBCBC, 0 0 0 1px #FFFFFF inset;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	margin:30px 0 10px;
	background:#fafafa;
}
.yt-form-templatebackend fieldset.yt-fieldset:first-child{
	margin-top: 20px;
}
.yt-form-templatebackend fieldset.yt-fieldset legend{
	position: absolute;
	top: -16px;
	left: 45px;
	line-height: 30px;
	box-shadow: 0px 0px 3px #ccc;
	border: 1px solid #DDD !important;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-o-border-radius: 16px;
	background-color:#F2F2F2;
	border: none;
	width: auto;
	margin: 0 0;
	padding: 0 15px;
	font-size: 14px;
	text-shadow:1px 1px 0 #FFFFFF;
	font-weight: bold;
}
.yt-form-templatebackend fieldset.yt-fieldset .control-group:first-child{
	margin-top: 0;
	border:none;
}
.yt-form-templatebackend .control-group .controls{
	padding:10px 0 3px;
}
.yt-form-templatebackend .controls > .radio:first-child, 
.yt-form-templatebackend .controls > .checkbox:first-child {
    padding-top: 0px;
}
.yt-form-templatebackend .controls select, 
.yt-form-templatebackend .controls textarea, 
.yt-form-templatebackend .controls input{
	background: #FFF;
	margin:0 0;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.075) inset !important;
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.075) inset !important;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.075) inset !important;
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.075) inset !important;
	cursor:pointer;
	outline:none !important;
	font-size: 13px;
}

.yt-form-templatebackend .yt-fieldset .controls textarea, 
.yt-form-templatebackend .yt-fieldset .controls input{
	width: 206px;
}
.yt-form-templatebackend .yt-fieldset input.input-small,
.yt-form-templatebackend .yt-fieldset .ytmedia input{
	width: 90px;
}
.yt-form-templatebackend .controls select{
	padding: 5px 5px 5px 6px;
}
.yt-form-templatebackend select:hover, 
.yt-form-templatebackend input[type="text"]:hover, 
.yt-form-templatebackend input[type="file"]:hover, 
.yt-form-templatebackend input[type="radio"]:hover, 
.yt-form-templatebackend nput[type="checkbox"]:hover {
	border-color: rgba(82, 168, 236, 0.8);
}
.yt-form-templatebackend textarea:focus,
.yt-form-templatebackend select:focus,
.yt-form-templatebackend input[type="text"]:focus, 
.yt-form-templatebackend input[type="file"]:focus, 
.yt-form-templatebackend input[type="radio"]:focus, 
.yt-form-templatebackend nput[type="checkbox"]:focus {
	background: #FFF;
    outline:none !important;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(82, 168, 236, 0.6) !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(82, 168, 236, 0.6) !important;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(82, 168, 236, 0.6) !important;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(82, 168, 236, 0.6) !important;
}

.yt-form-templatebackend select[disabled="disabled"],
.yt-form-templatebackend textarea.readonly,
.yt-form-templatebackend input.readonly{
	background: #EEE;
	cursor:not-allowed;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
}
.yt-form-templatebackend select[disabled="disabled"]:focus,
.yt-form-templatebackend textarea.readonly:focus,
.yt-form-templatebackend input.readonly:focus{
	background: #EEE;
	box-shadow:none !important;
	border-color:#CCC;
	-webkit-box-shadow:none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
}
/* tip */
.tip-wrap{
	background-color: #EEE;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	border:1px solid #999;
	padding:0 0;
	box-shadow:1px 1px 2px #999;
	-moz-box-shadow:1px 1px 2px #999;
	-webkit-box-shadow:1px 1px 2px #999;
	-o-box-shadow:1px 1px 2px #999;
}
.tip-top,
.tip-top:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: -10px;
  left: 25px;
  margin-left: -10px;
  border-bottom-color: #999;
  border-width: 0 8px 10px;
}

.tip-top:after {
  z-index: -1;
  content: "";
  
  top: -1px;
  left: 2px;
  border-bottom-color: #999/*rgba(0, 0, 0, 0.25)*/;
  border-width: 0 8px 11px;
}


.tip-wrap{
	max-width: 400px;

	z-index: 99;
}
.tip{
    background: transparent;
    border: none;
    text-decoration: none;
	padding:0 0;
	width: 100%;
}
.tip-title{
	display: block;
	background:#999;
	color:#FFF;
	margin: 0 0;
	font-size: inherit;
	text-shadow:1px 1px 1px #333;
	-moz-text-shadow:1px 1px 1px #333;
	-webkit-text-shadow:1px 1px 1px #333;
	-o-text-shadow:1px 1px 1px #333;
	font-weight:bold;
	padding:4px 8px;
}
.tip-text{
	color:#333;
	text-align:left;
	padding:8px 10px;
	text-shadow:1px 1px 1px #FFF;
	-moz-text-shadow:1px 1px 1px #FFF;
	-webkit-text-shadow:1px 1px 1px #FFF;
	-o-text-shadow:1px 1px 1px #FFF;
}
.popover{
	width: 400px;
}
.btn{
	outline: none !important;
}
.yt-form-templatebackend .assignment .control-group .controls{
	padding: 0 0;
}
.yt-form-templatebackend .thumbnails{
	margin: 0 0;
}
.yt-form-templatebackend .thumbnail{
	background:#FFF;
	margin: 0 0;
}
#menu-assignment .row-fluid [class*="span"]{
	margin-left: 15px;
}
#menu-assignment .row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
#menu-assignment label {
    font-size: 11px;
}
.yt-form-templatebackend .thumbnail input{
	margin:0 8px 0 0;
}
.yt-form-templatebackend .thumbnail > h5{
	margin:10px 12px;
}
.yt-form-templatebackend .thumbnail .checkbox{
	padding-left:12px;
}
.update{
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	
	background-color: #DFF0D8;
    border:1px solid #D6E9C6;
    color: #468847;
	padding:15px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}
.update.notice{
	background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.info{
	margin-bottom:8px;
}
.info dl{
	margin:0 0;
}
.info dl dt{
	float:left;
	width:120px;
	text-shadow:1px 1px 0 #FFF;
}
h2.template-name{
	font-size: 22px;
    line-height: 24px;
	text-transform:capitalize;
	text-shadow:1px 1px 0 #FFF;
	-moz-text-shadow:1px 1px 0 #FFF;
	-webkit-text-shadow:1px 1px 0 #FFF;
	-o-text-shadow:1px 1px 0 #FFF;
}
h2.framework-name{
	font-size: 22px;
    line-height: 24px;
	text-shadow:1px 1px 0 #FFF;
	-webkit-text-shadow:1px 1px 0 #FFF;
	-moz-text-shadow:1px 1px 0 #FFF;
	-o-text-shadow:1px 1px 0 #FFF;
}
.wrap-info{
	margin-top:30px;
	padding-top:25px;
}
.wrap-info:before{
	border-top: 1px dashed #CCC;
    content: "";
    left: 10%;
    position: absolute;
    width: 80%;
	margin-top:-30px;
}
.update a.btn{
	text-shadow:1px 1px 0 #FFF;
	-moz-text-shadow:1px 1px 0 #FFF;
	-webkit-text-shadow:1px 1px 0 #FFF;
	-o-text-shadow:1px 1px 0 #FFF;
}
.icon-download{
	color:inherit;
}
.icon-refresh{
	color:inherit;
}
.update h4{
	font-size: 14px;
    line-height: 16px;
	margin:0px 0 10px;;
}
.update p{
	margin-bottom:5px;
}

ul.social{
	margin:0 0;
}
ul.social{
	margin-top:5px;
}
ul.social li {
	list-style:none;
	display:inline-block;
}

ul.social li a {
    color: #343434;
	text-shadow:1px 1px 0 #f2f2f2;
	-moz-text-shadow:1px 1px 0 #f2f2f2;
	-webkit-text-shadow:1px 1px 0 #f2f2f2;
	-o-text-shadow:1px 1px 0 #f2f2f2;
    display: inline-block;
    height: 30px;
    position: relative;
    text-align: center;
    width: 30px;
    z-index: 2;
	outline:none !important;
}
ul.social li a:before {
    font-family: 'yt-icomoon';
    content: attr(data-icon);
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
}
ul.social li span {
    background: #cecece;
    border-radius: 32px 32px 32px 32px;
	-moz-border-radius: 32px 32px 32px 32px;
	-webkit-border-radius: 32px 32px 32px 32px;
	-o-border-radius: 32px 32px 32px 32px;
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: -1;
}
a#update_info{
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
ul.social li a:hover{
	text-decoration:none;
	color:#0088CC;
	text-shadow:1px 1px 0 #000;
	-moz-text-shadow:1px 1px 0 #000;
	-webkit-text-shadow:1px 1px 0 #000;
	-o-text-shadow:1px 1px 0 #000;
}
.update .icon-question-sign:before{
	font-family: 'yt-icomoon';
    font-style: normal;
    content: "\e10a";
}
.update .icon-download,
.update .icon-refresh,
.update .icon-question-sign{
	background:none;
}
.update .icon-refresh:before{
	font-family: 'yt-icomoon';
    font-style: normal;
    content: "\e0e6";
}
.update .icon-download:before{
	font-family: 'yt-icomoon';
    font-style: normal;
    content: "\e0b5";
}
#overrideLayouts_form .icon-checkmark-2{
	background-image:none;
	margin: 0 0;
}
.yt-form-templatebackend strong{
	text-shadow:1px 1px 0 #FFF;
	-moz-text-shadow:1px 1px 0 #FFF;
	-webkit-text-shadow:1px 1px 0 #FFF;
	-o-text-shadow:1px 1px 0 #FFF;
}
#overrideLayouts_input{
	width:30px; margin:0 3px;
	padding:4px;
	text-align:center;
}
#overrideLayouts_select{
	width:115px;
	margin:0 3px;
	padding:4px 5px 4px 2px;
}
#overrideLayouts_rules{
	margin-top:8px;
}
#overrideLayouts_rules > div{
	padding:1px 0px 1px 8px;
	margin-top:3px;
	background:#DDD;
}
#jform_params_overrideLayouts{
	display:none;
}
a.overrideLayouts_remove_rule{
	float:right;
	font-size:12px;
	text-shadow:0 1px 0 #FFF;
	-moz-text-shadow:0 1px 0 #FFF;
	-webkit-text-shadow:0 1px 0 #FFF;
	-o-text-shadow:0 1px 0 #FFF;
	font-weight:bold;
	padding:0 7px;
}
a.overrideLayouts_remove_rule:hover{
	text-decoration:none;
}
a.overrideLayouts_remove_rule i{
	font-size:9px;
	padding-left:1px;
}
#overrideLayouts_add_btn{
	padding:6px 5px;
	float:right;
	line-height: normal;
}
#overrideLayouts_add_btn [class^="icon-"]:before{
	font-family: 'yt-icomoon';
}
input.miniColors{
	padding:2px 5px 1px !important;
	font-size:12px !important;
	height: 18px;
	line-height: 18px;
}
/* joomla2.5 */
div#menu-assignment ul.menu-links{
	width:100%
}
#element-box div.m {
    background-color: #FFF;
    border:none;
}
.yt-jv2 .controls fieldset .control-label label{
	margin:0 10px 0 3px;
	font-size:12px;
	clear:none;
	cursor:pointer;
}
.yt-jv2 fieldset.radio{
	padding:0 0;
}
.yt-jv2  input#jform_title, 
.yt-jv2  input#jform_leveltitle, 
.yt-jv2  input#jform_grouptitle,
.yt-jv2 input,
.yt-jv2 select{
	font-size:13px;
}
.yt-jv2 #jform_id{
	background-color:#EEE;
	width:206px;
	border: 1px solid #CCCCCC;
}
.yt-jv2 .controls .fltlft input{
	width:80px;
	padding:2px 5px 1px;
	margin-right:3px;
}
.yt-jv2 .controls .button2-left{
	margin:0 3px 0 0;
}
.yt-jv2 .update a.btn{
	color: #333;
}
.yt-jv2 .update a.btn.btn-info{
	color: #FFF;
}



/* Radio
--------*/
/* Radio Button Groups ---*/
.radio.btn-group input[type=radio] {
  display: none;
}
.radio.btn-group > label{
	clear: none;
}
.radio.btn-group > label:first-of-type {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

fieldset.radio.btn-group {
  padding-left: 0;
  padding-top: 0 !important;
}

fieldset select {
  width: 220px;
}

/*
Media
 */
.ytmedia a.btn i.icon-remove{
	background-image:none;
	margin: 0 0;
}
.ytmedia a.btn,
.ytmedia .media-preview.add-on{
	line-height: 18px;
	height: 18px;
}
.ytmedia a{
	color: inherit;
}
.ytmedia input{
	height: 18px;
	line-height: 18px;
	float: none;
	font-size: 12px;
}
a.less2css{
	color: inherit;
}
a.less2css span:before{
	font-family: 'yt-icomoon';
}
.less2css-info{
	text-shadow: 1px 1px 0 #FFFFFF;
	-moz-text-shadow: 1px 1px 0 #FFFFFF;
	-webkit-text-shadow: 1px 1px 0 #FFFFFF;
	-o-text-shadow: 1px 1px 0 #FFFFFF;
}
div.less2css{
	padding: 30px 0 15px;
	font-size: 14px;
	text-align:center;
}
#less2css_modal{
	text-decoration: underline;
	padding: 0 0 0 5px;
}
.less2css-warning{
	font-size: 11px;
}
.less2css-warning .icon-warning{
	font-size: 14px;
}
.less2css-warning [class^="icon-"]:before,
.less2css [class^="icon-"]:before {
    font-family: 'yt-icomoon';
    color: inherit;
}

#template-manager .modal{
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    left: auto;
    margin: 0 0;
    overflow: auto;
    position: static;
    top: 50%;
    width: auto;
    z-index: 1050;
}
#template-manager-css button{
	background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #E6E6E6 #E6E6E6 #A2A2A2;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
#template-manager-css button:hover {
    background-color: #E6E6E6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
.com_templates button.close{padding: 5px 8px;}