@import "../_variables.less";

div#fd.eb .app-sidebar, 
div#fd.eb .app-content {
  display: table-cell;
}

body.com_easyblog {
  @media (max-width: @screen-sm-max) {
    .container-nav.hidden {
      visibility: visible !important;    
      display: block !important;
      float: left;
      position: relative;
      margin-left: @gridGutterWidth/2;

      > a {
        color: @white !important;
        position: static;
      }
    }

    div#fd.eb .app-sidebar {
      width: 150px !important;
      padding-right: @global-padding/2;
      padding-left: @global-padding/2;

      .app-sidebar-nav {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
}

html.show-easyblog-sidebar > body.com_easyblog, 
html.show-easyblog-sidebar > body.com_easyblog .header-stick, 
html.show-easyblog-sidebar > body.com_easyblog .navbar-fixed-top {
  left: 0 !important
}

.show-easyblog-sidebar body.com_easyblog {
  .app-sidebar {
    position: relative !important;
    left: auto !important;
  }
}