@import "../_variables.less";

// Compatible Com K2
body.com_k2 .container-fluid {
  padding-left: @gridGutterWidth !important;
  padding-right: @gridGutterWidth !important; 
}

.isJ30 #k2InfoPage ul.k2ScrollSpyMenu {
  border-left: 0;
  padding-top: 200px;
}

.com_k2 .subhead {
  border-bottom: 0;
}

.k2ViewIsInfo .header {
  z-index: 1030;
}

div#k2QuickIconsTitle a {
  box-sizing: content-box;
}

@media (max-width: @screen-md-max) {
  .com_k2 .admin-container-fluid > .main-content {
    padding-top: 0 !important;
  } 

  // Comconfigure
  .com_k2.navbar-horizontal,
  .com_k2.navbar-vertical {

    // Container
    .container-main {
      padding-left: 270px !important;
      position: relative;
    }

    #content .jsubmenu #sidebar {
      background-color: @grayLighter;
      border: 1px solid darken(@grayLighter, 5%);
      position: absolute;
      top: 0;
      left: @global-padding;
      width: 230px;
      padding-bottom: @gridGutterWidth;
      padding-top: @gridGutterWidth;

      .sidebar-nav {
        position: relative;
        top: 0;
        left: 0;
        padding-right: 0;

        #submenu.nav-list {
          border-bottom: 0;
        }

        #submenu.nav-list > li {
          display: block;
          float: none;

          a {
            padding-top: @global-padding / 3;
            padding-bottom: @global-padding / 3;
            background: none;

            &:hover, &:focus, &:active {
              color: @linkColorHover;
            }
          }

          &.active a {
            color: @linkColorHover;
          }
        }
      }
    }
  }
}