@import "../_variables.less";

.com_acymailing .subhead {
  display: none;
}

#acymenu_leftside {
  .acymenu_slide span {
    height: 40px;
  }

  .sel a {
    height: auto;
  }

  .mainelement .acysubmenulink span {
    width: auto;
  }
}