@import "../_variables.less";

#kunena-modal {
  left: 50%;
  right: auto;
  bottom: auto;

  .modal-body #kunena {
    max-width: none !important;
  }
}

#kunena #j-sidebar-container #sidebar {
  background-color: @grayLighter;
  border: 1px solid darken(@grayLighter, 5%);
  position: absolute;
  top: 0;
  left: @global-padding;
  width: 230px;

  .sidebar-nav {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;

    .nav-list > li {
      display: block;
      float: none;

      a {
        padding-top: @global-padding / 3;
        padding-bottom: @global-padding / 3;

        &:hover, &:focus, &:active {
          color: @linkColorHover;
        }
      }

      &.active a {
        color: @linkColorHover;
      }
    }
  }
}