/*
#------------------------------------------------------------------------
# University - May Joomla! template (for Joomla 2.5)
#
# Copyright (C) 2007-2014 Gavick.com. All Rights Reserved.
# License: Copyrighted Commercial Software
# Website: http://www.gavick.com
# Support: support@gavick.com 
*/

/* Base for all menus */
#gkMainMenu {
	float: right;
	padding: 0;
}
#gkMainMenu:after {
	clear: both;
	content: "";
	display: table;
}
#gkMainMenu .gkMenu {
	display: block;
	margin: 0;
	position: relative;
	text-align: center;
}
.gkMenu > ul {
	margin: 0;
	padding: 0;
}
.gkMenu > ul > li {
	clear: none!important;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	text-transform: uppercase;
	width: auto;
}
.gkMenu > ul > li:first-child > a {
	padding-left: 0;
}
.gkMenu > ul > li:last-child > a {
	padding-right: 0;
}
.gkMenu > ul > li > a {
	color: #fff;
	display: block;
	height: 60px;
	line-height: 60px;
	padding: 0 12px;
	position: relative;
}
.gkMenu > ul > li > a:active,
.gkMenu > ul > li > a:focus,
.gkMenu > ul > li > a:hover,
.gkMenu > ul > li.active > a:active,
.gkMenu > ul > li.active > a:focus,
.gkMenu > ul > li.active > a:hover {
	color: #fa7252;
}
.gkMenu > ul > li:first-child > a {
	padding-left: 0;
}
.gkMenu > ul > li a small {
	display: block;
	font-size: 11px;
	line-height: 12px;
}
.gkMenu > ul > li > .childcontent,
.gkMenu > ul > li > .childcontent .childcontent {
	position: absolute;
	left: -999em;
	z-index: 999;
}
.gkMenu > ul > li > .childcontent .gkcol {
	border-left: 1px solid #eee;
	float: left;
}
.gkMenu > ul > li > .childcontent .gkcol:first-child {
	border-left: none;
}
.gkMenu > ul > li:hover > .childcontent,
.gkMenu > ul > li:hover > .childcontent li:hover > .childcontent {
	left: inherit;
}
.gkMenu > ul > li .childcontent {
	margin-left: -11px;
	margin-top: 0;
}
.gkMenu > ul > li .childcontent .childcontent {
	margin-left: 100px;
	margin-top: -35px!important;
}

/* main menu CSS */
.gkMenu > ul > li.active > a {
	color: #fff;	
}
.gkMenu > ul > li > a {
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
}
.gkMenu a:hover,
.gkMenu a:active,
.gkMenu a:focus,
.gkMenu li.active > a {
	color: #fff;
}
.gkMenu ul ul {
	padding: 12px 0 8px;
}
.gkMenu > ul li div.childcontent {
	background: #fff;
	border: 1px solid #eee; 
	margin-top: 0;
	text-transform: none;
}
.gkMenu > ul li div.childcontent-inner {
	background: #fff;
}
.gkMenu > ul li > .childcontent .gkcol {
	padding-bottom: 0;
}
.gkMenu > ul li div.childcontent li {
	font-size: 12px;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	padding: 0 20px;  
	text-align: left;
	
}
.gkMenu > ul li div.childcontent a:hover {
	color: #fa7252!important;
}

.gkMenu > ul li div.childcontent li:hover > a,
.gkMenu > ul li div.childcontent li:hover > a small {
	color: #777;	
	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-ms-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	transition: color .2s ease-out;
}
.gkMenu > ul li div.childcontent li:first-child  { 
	border: none;
}
.gkMenu > ul li div.childcontent a {
	color: #777;
	display: block;
	padding: 7px 0; 
}
.gkMenu > ul li li div.childcontent small {
	color: #999;
	font-weight: 400;
	padding-bottom: 5px;
}
.gkMenu > ul li div.childcontent li.group {
	padding: 0;
	margin: 0;
	height: auto;
	border: none !important;
	background: none;
}
.gkMenu > ul li div.childcontent .header {
	color: #444;
	display: block;
	font-size: 12px;
	font-weight: 600!important;
	margin: 6px 0 0;
	padding: 0 20px;
	text-transform: uppercase
	
}
.gkMenu > ul li div.childcontent .header a {
	color: #444;
}
.gkMenu > ul li div.childcontent .header small {
	display: block;
	text-transform: none;
}
.gkMenu li .module p {
	font-size: 12px;
	line-height: 18px;
}

#gkHeaderNav li.gkLogin {
	border: 1px solid rgba(250, 114, 82, 0.5);	
	height: 30px;
	line-height: 30px;
	margin-left: 12px;
	-webkit-transition: border .3s ease-out;
	-moz-transition: border .3s ease-out;
	-ms-transition: border .3s ease-out;
	-o-transition: border .3s ease-out;
	transition: border .3s ease-out;
}

#gkHeaderNav li.gkLogin a {
	
	height: 30px;
	line-height: 30px;
	padding: 0 12px!important;

}

#gkHeaderNav li.gkLogin:hover {
	border-color: #fa7252;
	color: #fff;
}
#gkHeaderNav li.gkLogin:hover a {
	color: #fff;
}

/* hide mobile menu */
#gkMobileMenu {
	display: none;
}

/* Aside menu */
#gkBg {
	-webkit-transition: margin-left .3s ease-out;
	-moz-transition: margin-left .3s ease-out;
	-ms-transition: margin-left .3s ease-out;
	-o-transition: margin-left .3s ease-out;
	transition: margin-left .3s ease-out;
}
#gkHeaderTop,
#gkHeaderNav {
	left: 0;
	-webkit-transition: left .3s ease-out;
	-moz-transition: left .3s ease-out;
	-ms-transition: left .3s ease-out;
	-o-transition: left .3s ease-out;
	transition: left .3s ease-out;
}
#gkBg.menu-open {
	margin-left: -280px;
}

#aside-menu-toggler,
#mobile-menu-toggler {
	color: #fff;
	cursor: pointer;
	display: block!important;
	font-size: 44px;
	height: 44px;
	line-height: 44px;
	margin: 40px 0 0 0px!important;
	overflow: hidden;
	position: relative;
	width: 44px;
}

#static-aside-menu-toggler {
	cursor: pointer;
}

#aside-menu-toggler {
	float: right;
}

#mobile-menu-toggler {
	margin: 0px -15px 0 0px!important;
}

#aside-menu {
	background: #152136;
	float: right;
	height: 100%;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: width .3s ease-out;
	-moz-transition: width .3s ease-out;
	-ms-transition: width .3s ease-out;
	-o-transition: width .3s ease-out;
	transition: width .3s ease-out;
	width: 0;
	z-index: 100000;
}

#aside-menu.menu-open {
	width: 280px;
}

#aside-menu > div {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	padding-right: 32px;
	min-width: 280px;
	max-width: 100%;
}

#close-menu {
	color: #fa7252;
	cursor: pointer;
	font-size: 26px;
	opacity: 0; filter: alpha(opacity=0);
	position: fixed;
	right: 0px;
	top: 25px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	z-index: 100001;
}

#close-menu.menu-open {
	opacity: 1.0; filter: alpha(opacity=100);
	right: 10px;
}

#gkAsideMenu > ul {
	padding: 20px 0 20px 32px;
} 

#aside-menu li {
	font-size: 15px;
	font-weight: 600;
	padding: 4px 0;	
	text-transform: uppercase;
}

#aside-menu li li {
	font-size: 14px;
	font-weight: 400;
	padding: 4px 0;
	text-transform: none;
}

#aside-menu li li li {
	font-weight: 300;
	padding-left: 15px;
}

#aside-menu li a {
	color: #eee;
}
#aside-menu li li a {
	color: #999;
}
#aside-menu li a.active,
#aside-menu li a:active,
#aside-menu li a:focus,
#aside-menu li a:hover {
	color: #fa7252;
}

/* Android fix */
.android-stock-browser #aside-menu {
	height: auto;
	min-height: 100%;
	position: absolute;
}

.android-stock-browser #aside-menu > div {
	height: auto;
	min-height: 100%;
}
#gkMainMenu .gkMenu > ul > li > a, #gkMainMenu .gkMenu > ul > li > a:active #gkMainMenu .gkMenu > ul > li > a:focus, #gkMainMenu .gkMenu > ul > li > a: #gkMainMenu .gkMenu > ul > li a small {
	display: block;
	font-size: 11px;
	line-height: 12px;
}