#layout-preview {
  clear: both;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
}
#layout-preview .layout-preview {
  margin-left: 160px;
  background: #fdfdfd;
  border: solid 1px #eee;
}
#layout-preview .container {
  width: 80%;
  text-align: center;
}
#layout-preview .no-container {
  text-align: center;
}
#layout-preview .off {
  background-color: #eee;
  color: #888;
  text-decoration: line-through;
}
#layout-preview .off > [data-role="container"] {
  display: none;
}
#layout-preview .off.col {
  display: none;
}
#layout-preview .section {
  border: solid 1px #eee;
  margin: 15px;
  padding: 5px;
}
#layout-preview .section.active {
  border-color: red;
}
#layout-preview .section.off {
  margin: 2px 15px;
}
#layout-preview .col {
  border: solid 1px #eee;
  padding: 10px;
}
#layout-preview .row-fluid [class*="span"] {
  margin-left: 2.5641%;
}
#layout-preview .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
