#layout-preview {
	clear: both;
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	padding: 30px;

	.layout-preview {
		margin-left: 160px;
		background: #fdfdfd;
		border: solid 1px #eee;
	}

	.container {
		width: 80%;
		text-align: center;
	}
	.no-container {
		text-align: center;
	}

	.off {
		background-color: #eee;
		color: #888;
		text-decoration: line-through;
		& > [data-role="container"] {
			display: none;
		}
		&.col {
			display: none;
		}
	}
	.section {
		border: solid 1px #eee;
		margin: 15px;
		padding: 5px;
		&.active {
			border-color: red;
		}
		&.off {
			margin: 2px 15px;
		}
	}

	.col {
		border: solid 1px #eee;
		padding: 10px;	
	}

	.row-fluid [class*="span"] {
		margin-left: 2.5641%;
		&:first-child {
			margin-left: 0;
		}
	}
}