/*
	Copyright: (c) 2015 TheGrue, http://thegrue.org/
*/

#gruemenu,
#gruemenu ul,
#gruemenu ul li,
#gruemenu ul li a
{margin: 0; padding: 0;border: 0;list-style: none;line-height: 1;display: block;position: relative; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; z-index:998;}
#gruemenu { width: auto; }
#gruemenu > ul { box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05); padding:0; margin:0;}
#gruemenu > ul > li a {background:none;font-weight: 600;}
#gruemenu > ul > li > a { padding: 18px 5px 21px 18px;   font-weight: 700; text-decoration: none; letter-spacing: 0.5px;}
#gruemenu > ul > li:hover > a,
#gruemenu > ul > li > a:hover,
#gruemenu > ul > li.active > a { color:#fc4332 !important; background: rgba(0, 0, 0, 0.1);}
#gruemenu > ul > li.has-sub > a {padding-right: 40px;}
#gruemenu > ul > li.has-sub > a::after {content: ""; position: absolute; width: 0; height: 0; border: 6px solid transparent;}
#gruemenu > ul > li.has-sub.active > a::after,
#gruemenu > ul > li.has-sub:hover > a {}
#gruemenu:after,
#gruemenu > ul:after {content: ".";display: block;clear: both; visibility: hidden; line-height: 0; height: 0;}
#gruemenu ul ul li a { text-decoration: none;     padding: 8px 20px 10px 20px; width: 220px;line-height: 18px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);}
#gruemenu > ul > li > ul::after { position: absolute; display: block;}
#gruemenu ul ul li > a:hover{color:#fc4332 !important; }

#gruemenu ul ul li.has-sub > a::after { content: ""; position: absolute; width: 0; height: 0; border: 4px solid transparent;}  
#gruemenu ul ul li.has-sub > a:hover{color:#fc4332 !important; }

/* Mobile Menu */
#navigation-toggle, .sidr, #sidr-close { display: none }
.sidr{display:none;position:fixed;top:0;height:100%;z-index:998;width:100%;overflow-x:auto;overflow-y:auto; font-size:16px;background:#333;color:#fff;}
.sidr .sidr-inner{padding:0}
.sidr .sidr-inner>p{margin-left:15px;margin-right:15px}
.sidr.right{left:auto;right:-320px}
.sidr.left{left:-320px;right:auto;}
.sidr p{font-size:16px;margin:0 0 12px}.sidr p a{color:rgba(255,255,255,0.9)}
.sidr>p{margin-left:15px;margin-right:15px}
.sidr ul{display:block;margin:0 0 15px;padding:0;border-top:1px solid #1a1a1a;border-bottom:1px solid #4d4d4d}
.sidr ul li{display:block;margin:0;line-height:48px;border-top:1px solid #4d4d4d;border-bottom:1px solid #1a1a1a}
.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active{ background:#333;line-height:48px}
.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span{}
.sidr ul li a,.sidr ul li span{padding:0 15px;display:block;text-decoration:none;color:#fff}
.sidr ul li ul{border-bottom:none;margin:0}.sidr ul li ul li{line-height:40px;font-size:14px}.sidr ul li ul li:last-child{border-bottom:none}
.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active{background:#333;line-height:40px}
.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span{}
.sidr ul li ul li a,.sidr ul li ul li span{color:rgba(255,255,255,0.8);padding-left:30px}.sidr form{margin:0 15px}.sidr label{font-size:13px}.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select{width:100%;font-size:13px;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:none;background:rgba(0,0,0,0.1);color:rgba(255,255,255,0.6);display:block;clear:both}.sidr input[type=checkbox]{width:auto;display:inline;clear:none}.sidr input[type=button],.sidr input[type=submit]{color:#333;background:#fff}.sidr input[type=button]:hover,.sidr input[type=submit]:hover{background:rgba(255,255,255,0.9)}
a.sidr-class-toggle-sidr-close {color:#fff; text-decoration:none; display:block; text-align:right; padding:10px 20px;}
a.sidr-class-toggle-sidr-close:before {font-size:20px; font-weight:bold; color: #fff; margin: 0; text-decoration:none; content:"x"; background:#222222; padding:2px 10px; border-radius:50% }
.sidr-class-current > a{ background:#222}


#gruemenu {
    top: 11px;
    position: absolute;
}

.gruemenu_home{
   float: left;
    padding-left: 0px;
}
.text_login_top{
   color: #FFFFFF;
    text-transform: uppercase;
    /* font-size: 14px; */
    font-size: 15.5px;
    font-weight: 700;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid solid solid solid;
    border-color: #fff;
    position: relative;
    bottom: 11px;
    /* height: 30px !important; */
    cursor: pointer;
	
}
#je-login .je_button span, a span.je_dropbtn-inner{
	        padding: 8px 13px;
}
#gruemenu.grue_128 ul ul{
	    margin-top: 0px;
	    padding-top: 15px !important;
}

#gruemenu.grue_128 ul ul > li:hover > ul {

    top: -15px !important;
}

#gruemenu.grue_128 ul li:nth-child(3) ul ul::after{
	 left: 233px !important;

}
#gruemenu.grue_128 ul ul ul::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    top: 28px !important;
    left: -3px; 
}

.top_search_category{
    top: 325px;
    border: 1px solid #ddd;
    background: rgba(63, 46, 37, 0.9);
    left: 50%;
    margin-left: -282px;
    position: absolute;
    z-index: 115;
    padding: 19px 19px 47px 19px;
    border: 1px solid white;
    border-radius: 9px;
    text-align: center;
}

@media screen and (min-width : 1950px) and (max-width : 3560px) {
   .top_search_category{
	top: 333px;
    left: 50% !important;
    margin-left:-267px !important;
    position: absolute;
    z-index: 115;
    padding: 19px;
    /*border: 1px solid rgb(227, 227, 227);*/
    border-radius: 9px;
    text-align: center;
}

}


.top_search_category_inline{
	display: inline-block !important;
	text-align: center;
    text-align-last: center;
}


.triangle_red {
 width: 0px;
 height: 0px;
 border-top: 30px solid #EE3828;
border-right: 29px solid transparent;

border-left: 26px solid transparent;
margin-left: 14%;

 
}


.triangle_blue {
    width: 0px;
    height: 0px;
    border-top: 30px solid #0177BF;
    border-right: 29px solid transparent;
  
    border-left: 26px solid transparent;
    
   /*margin-left: 26px;*/
   margin-left: 14%;
    float:left;
}

#gruemenu.grue_128 ul ul li:first-child > a{
	    padding-top: 12px !important;
}


@media screen and (max-width: 1199px) and (min-width: 1024px){

    #gruemenu.grue_128{
         width: auto;
        right: 2px;
        left: 0;
    }

    .top_search_category{
        margin-left: -284px;
    }
}


@media screen and (min-width: 1200px){

    #gruemenu > ul {

        width: 1170px;
    }

}

#gruemenu.grue_128 > ul > li.has-sub:hover > a::after {
    border-top-color: #eb3b32;
}

#gruemenu.grue_128 > ul > li.has-sub.active > a::after, #gruemenu.grue_128 > ul > li.has-sub:hover > a {
    border-top-color: #eb3b32 !important;
}

#main_cat a:hover{
    color:#1279bf !important;
}
.categoryLink:hover{
    color:#0077c1 !important;
}

.height_footer_f{
    height: 166px;
}

@media screen and (max-width: 640px){

    .height_footer_f{
    height: auto;
    }
}

