body {
	background-color: #ffffff;
	color: #101010;
	font-size: 14px;
	font-weight: 400;
}
.header .container-logo {
  background-color: #ffffff;
}
/* Internal url */
a.admin-logo {
  background: url('/images/joomla-logo2.png') no-repeat;
  text-indent: -999em;
}
/* External URL */
/* Internal url */
/* External URL */
a {
	color: #163f87;
}
a:hover, a:focus, a:active {
	color: #303030;
}
/* common style */
h1, h2, h3, h4, h5, h6 {
}
/* JOOMLA STYLE
--------------------------------------- */
h2.item-title,
.item-title h2,
.item-page .page-header h2 {
}
.items-row .item {
	font-size: 14px;
}
/* Header */
.header {
	background-color: #ffffff;
	color: #eb3b32;
}
.header .container-logo {
}
.header .nav-user > li > a {
	color: #eb3b32;
}
.header .nav-user > li > a:hover, 
.header .nav-user > li > a:focus, 
.header .nav-user > li > a:active {
	color: #1279bf;
}
.header .container-title h1 {
	color: #eb3b32;
}
.header .search input,
.header .search .btn {
  background: #dbd7d7;
  border-color: #dbd7d7;
  color: #424242;
}
/* Main navigation */
.sidebar {
	background-color: #1279bf;
	border-color: #4e8fc4;
}
.sidebar #menu > li > a,
.sidebar #vm-menu > li > a, 
#sidebar #menu > li > a {
	color: #ffffff;
	border-bottom-color: #4e8fc4;
}
.sidebar #menu > li > a .caret,
.sidebar #vm-menu > li > a .caret,
#sidebar #menu > li > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.sidebar #menu > li.active > a,
.sidebar #vm-menu > li.active > a, 
#sidebar #menu > li.active > a {
	color: #ffffff;
}
.sidebar #menu > li > a:hover,
.sidebar #menu > li > a:focus,
.sidebar #menu > li > a:active,
.sidebar #vm-menu > li > a:hover,
.sidebar #vm-menu > li > a:focus,
.sidebar #vm-menu > li > a:active,
#sidebar #menu > li > a:hover,
#sidebar #menu > li > a:focus,
#sidebar #menu > li > a:active {
  background-color: #ee3928;
	color: #ffffff;
}
/* Dropdown menu */
.sidebar #menu > li > a + .dropdown-menu,
.sidebar #vm-menu > li > a + .dropdown-menu, 
#sidebar #menu > li > a + .dropdown-menu {
  background: #0e6199;
}
.sidebar #menu > li > a + .dropdown-menu > li > a, 
.sidebar #vm-menu > li > a + .dropdown-menu > li > a, 
#sidebar #menu > li > a + .dropdown-menu > li > a {
	color: #ffffff;
}
.dropdown-menu > .active > a {
  background: #ee3928;
  color: #ffffff;
}
.sidebar #menu .dropdown-menu > .dropdown-submenu:hover > a,
#sidebar #menu .dropdown-menu > .dropdown-submenu:hover > a,
.sidebar #menu .dropdown-menu > .dropdown-submenu:focus > a,
#sidebar #menu .dropdown-menu > .dropdown-submenu:focus > a,
.sidebar #menu .dropdown-menu > .dropdown-submenu:active > a,
#sidebar #menu .dropdown-menu > .dropdown-submenu:active > a,
.sidebar #vm-menu .dropdown-menu > .dropdown-submenu:hover > a,
.sidebar #vm-menu .dropdown-menu > .dropdown-submenu:hover > a,
.sidebar #vm-menu .dropdown-menu > .dropdown-submenu:hover > a {
  background: #ee3928;
  color: #ffffff;
}
.sidebar #menu > li > a + .dropdown-menu .dropdown-submenu:hover .dropdown-menu,
.sidebar #vm-menu > li > a + .dropdown-menu .dropdown-submenu:hover .dropdown-menu,
#sidebar #menu > li > a + .dropdown-menu .dropdown-submenu:hover .dropdown-menu {
  background: #ee3928;
  color: #ffffff;
}
.sidebar #menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #vm-menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #vm-menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #vm-menu > li > a + .dropdown-menu > li > a:hover, 
#sidebar #menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #menu > li > a + .dropdown-menu > li > a:focus, 
#sidebar #menu > li > a + .dropdown-menu > li > a:focus, 
.sidebar #menu > li > a + .dropdown-menu > li > a:active, 
#sidebar #menu > li > a + .dropdown-menu > li > a:active {
	background-color: #ee3928;
	color: #ffffff;
}
@media (max-width: 1199px) {
  .navbar-horizontal .admin-container-fluid > .sidebar #menu > li > a {
    border-bottom-color: #4e8fc4;
  }
}
/* Search form */
.header .search input,
.header .search .btn {
	color: #424242;
}
.header .search input:focus {
	color: #424242;
}
.header .search .search-result > ul {
}
/* Status
--------- */
#status {
	background: #e0e0e0;
	border-color: #d4d4d4;
	color: #626262;
}
#status .btn-toolbar {
	background: #e0e0e0;
}
#status a {
	color: #626262;
}
#status a:hover, #status a:focus, #status a:active {
	color: #626262;
}
#status .nav > li::before {
	color: #626262;
}
/* LOGIN PAGE
--------------------------------------- */
.view-login {
	background-color: #1279bf;
}
.view-login .navbar-fixed-bottom {
}
.view-login .navbar-fixed-bottom a {
}
.view-login .navbar-fixed-bottom a:hover,
.view-login .navbar-fixed-bottom a:focus,
.view-login .navbar-fixed-bottom a:active {
}
/* Internal url */
/* External URL */
.view-login .login-logo {
	background: url(/images/kkk.png) no-repeat top center;
}
/* Login form */
.view-login #form-login .btn-block {
  background: #163f87;
  color: #87a0ce;
}
.view-login #form-login .btn-block:hover {
  background: #153b7f;
  color: #ffffff;
}