/**
 * Shlib - programming library
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier 2013
 * @package     shlib
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     0.2.9.370
 * @date		2014-06-11
 */
[class^="shl-icon"],[class*=" shl-icon"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../../jui/img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin-top: 1px;
}

.shl-icon-glass {
	background-position: 0 0;
}

.shl-icon-music {
	background-position: -24px 0;
}

.shl-icon-search {
	background-position: -48px 0;
}

.shl-icon-envelope {
	background-position: -72px 0;
}

.shl-icon-heart {
	background-position: -96px 0;
}

.shl-icon-star {
	background-position: -120px 0;
}

.shl-icon-star-empty {
	background-position: -144px 0;
}

.shl-icon-user {
	background-position: -168px 0;
}

.shl-icon-film {
	background-position: -192px 0;
}

.shl-icon-th-large {
	background-position: -216px 0;
}

.shl-icon-th {
	background-position: -240px 0;
}

.shl-icon-th-list {
	background-position: -264px 0;
}

.shl-icon-ok {
	background-position: -288px 0;
}

.shl-icon-remove {
	background-position: -312px 0;
}

.shl-icon-zoom-in {
	background-position: -336px 0;
}

.shl-icon-zoom-out {
	background-position: -360px 0;
}

.shl-icon-off {
	background-position: -384px 0;
}

.shl-icon-signal {
	background-position: -408px 0;
}

.shl-icon-cog {
	background-position: -432px 0;
}

.shl-icon-trash {
	background-position: -456px 0;
}

.shl-icon-home {
	background-position: 0 -24px;
}

.shl-icon-file {
	background-position: -24px -24px;
}

.shl-icon-time {
	background-position: -48px -24px;
}

.shl-icon-road {
	background-position: -72px -24px;
}

.shl-icon-download-alt {
	background-position: -96px -24px;
}

.shl-icon-download {
	background-position: -120px -24px;
}

.shl-icon-upload {
	background-position: -144px -24px;
}

.shl-icon-inbox {
	background-position: -168px -24px;
}

.shl-icon-play-circle {
	background-position: -192px -24px;
}

.shl-icon-repeat {
	background-position: -216px -24px;
}

.shl-icon-refresh {
	background-position: -240px -24px;
}

.shl-icon-list-alt {
	background-position: -264px -24px;
}

.shl-icon-lock {
	background-position: -287px -24px;
}

.shl-icon-flag {
	background-position: -312px -24px;
}

.shl-icon-headphones {
	background-position: -336px -24px;
}

.shl-icon-volume-off {
	background-position: -360px -24px;
}

.shl-icon-volume-down {
	background-position: -384px -24px;
}

.shl-icon-volume-up {
	background-position: -408px -24px;
}

.shl-icon-qrcode {
	background-position: -432px -24px;
}

.shl-icon-barcode {
	background-position: -456px -24px;
}

.shl-icon-tag {
	background-position: 0 -48px;
}

.shl-icon-tags {
	background-position: -25px -48px;
}

.shl-icon-book {
	background-position: -48px -48px;
}

.shl-icon-bookmark {
	background-position: -72px -48px;
}

.shl-icon-print {
	background-position: -96px -48px;
}

.shl-icon-camera {
	background-position: -120px -48px;
}

.shl-icon-font {
	background-position: -144px -48px;
}

.shl-icon-bold {
	background-position: -167px -48px;
}

.shl-icon-italic {
	background-position: -192px -48px;
}

.shl-icon-text-height {
	background-position: -216px -48px;
}

.shl-icon-text-width {
	background-position: -240px -48px;
}

.shl-icon-align-left {
	background-position: -264px -48px;
}

.shl-icon-align-center {
	background-position: -288px -48px;
}

.shl-icon-align-right {
	background-position: -312px -48px;
}

.shl-icon-align-justify {
	background-position: -336px -48px;
}

.shl-icon-list {
	background-position: -360px -48px;
}

.shl-icon-indent-left {
	background-position: -384px -48px;
}

.shl-icon-indent-right {
	background-position: -408px -48px;
}

.shl-icon-facetime-video {
	background-position: -432px -48px;
}

.shl-icon-picture {
	background-position: -456px -48px;
}

.shl-icon-pencil {
	background-position: 0 -72px;
}

.shl-icon-map-marker {
	background-position: -24px -72px;
}

.shl-icon-adjust {
	background-position: -48px -72px;
}

.shl-icon-tint {
	background-position: -72px -72px;
}

.shl-icon-edit {
	background-position: -96px -72px;
}

.shl-icon-share {
	background-position: -120px -72px;
}

.shl-icon-check {
	background-position: -144px -72px;
}

.shl-icon-move {
	background-position: -168px -72px;
}

.shl-icon-step-backward {
	background-position: -192px -72px;
}

.shl-icon-fast-backward {
	background-position: -216px -72px;
}

.shl-icon-backward {
	background-position: -240px -72px;
}

.shl-icon-play {
	background-position: -264px -72px;
}

.shl-icon-pause {
	background-position: -288px -72px;
}

.shl-icon-stop {
	background-position: -312px -72px;
}

.shl-icon-forward {
	background-position: -336px -72px;
}

.shl-icon-fast-forward {
	background-position: -360px -72px;
}

.shl-icon-step-forward {
	background-position: -384px -72px;
}

.shl-icon-eject {
	background-position: -408px -72px;
}

.shl-icon-chevron-left {
	background-position: -432px -72px;
}

.shl-icon-chevron-right {
	background-position: -456px -72px;
}

.shl-icon-plus-sign {
	background-position: 0 -96px;
}

.shl-icon-minus-sign {
	background-position: -24px -96px;
}

.shl-icon-remove-sign {
	background-position: -48px -96px;
}

.shl-icon-ok-sign {
	background-position: -72px -96px;
}

.shl-icon-question-sign {
	background-position: -96px -96px;
}

.shl-icon-info-sign {
	background-position: -120px -96px;
}

.shl-icon-screenshot {
	background-position: -144px -96px;
}

.shl-icon-remove-circle {
	background-position: -168px -96px;
}

.shl-icon-ok-circle {
	background-position: -192px -96px;
}

.shl-icon-ban-circle {
	background-position: -216px -96px;
}

.shl-icon-arrow-left {
	background-position: -240px -96px;
}

.shl-icon-arrow-right {
	background-position: -264px -96px;
}

.shl-icon-arrow-up {
	background-position: -289px -96px;
}

.shl-icon-arrow-down {
	background-position: -312px -96px;
}

.shl-icon-share-alt {
	background-position: -336px -96px;
}

.shl-icon-resize-full {
	background-position: -360px -96px;
}

.shl-icon-resize-small {
	background-position: -384px -96px;
}

.shl-icon-plus {
	background-position: -408px -96px;
}

.shl-icon-minus {
	background-position: -433px -96px;
}

.shl-icon-asterisk {
	background-position: -456px -96px;
}

.shl-icon-exclamation-sign {
	background-position: 0 -120px;
}

.shl-icon-gift {
	background-position: -24px -120px;
}

.shl-icon-leaf {
	background-position: -48px -120px;
}

.shl-icon-fire {
	background-position: -72px -120px;
}

.shl-icon-eye-open {
	background-position: -96px -120px;
}

.shl-icon-eye-close {
	background-position: -120px -120px;
}

.shl-icon-warning-sign {
	background-position: -144px -120px;
}

.shl-icon-plane {
	background-position: -168px -120px;
}

.shl-icon-calendar {
	background-position: -192px -120px;
}

.shl-icon-random {
	background-position: -216px -120px;
	width: 16px;
}

.shl-icon-comment {
	background-position: -240px -120px;
}

.shl-icon-magnet {
	background-position: -264px -120px;
}

.shl-icon-chevron-up {
	background-position: -288px -120px;
}

.shl-icon-chevron-down {
	background-position: -313px -119px;
}

.shl-icon-retweet {
	background-position: -336px -120px;
}

.shl-icon-shopping-cart {
	background-position: -360px -120px;
}

.shl-icon-folder-close {
	background-position: -384px -120px;
}

.shl-icon-folder-open {
	background-position: -408px -120px;
	width: 16px;
}

.shl-icon-resize-vertical {
	background-position: -432px -119px;
}

.shl-icon-resize-horizontal {
	background-position: -456px -118px;
}

.shl-icon-hdd {
	background-position: 0 -144px;
}

.shl-icon-bullhorn {
	background-position: -24px -144px;
}

.shl-icon-bell {
	background-position: -48px -144px;
}

.shl-icon-certificate {
	background-position: -72px -144px;
}

.shl-icon-thumbs-up {
	background-position: -96px -144px;
}

.shl-icon-thumbs-down {
	background-position: -120px -144px;
}

.shl-icon-hand-right {
	background-position: -144px -144px;
}

.shl-icon-hand-left {
	background-position: -168px -144px;
}

.shl-icon-hand-up {
	background-position: -192px -144px;
}

.shl-icon-hand-down {
	background-position: -216px -144px;
}

.shl-icon-circle-arrow-right {
	background-position: -240px -144px;
}

.shl-icon-circle-arrow-left {
	background-position: -264px -144px;
}

.shl-icon-circle-arrow-up {
	background-position: -288px -144px;
}

.shl-icon-circle-arrow-down {
	background-position: -312px -144px;
}

.shl-icon-globe {
	background-position: -336px -144px;
}

.shl-icon-wrench {
	background-position: -360px -144px;
}

.shl-icon-tasks {
	background-position: -384px -144px;
}

.shl-icon-filter {
	background-position: -408px -144px;
}

.shl-icon-briefcase {
	background-position: -432px -144px;
}

.shl-icon-fullscreen {
	background-position: -456px -144px;
}

span.label-large,span.badge-large {
	font-size: 14px;
	line-height: 18px;
}

div.alert-centered {
	text-align: center;
}

/* Input counters */
div.shl-char-counter {
    margin-left: 0.2em;
    width: 2em;
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
}

div.shl-char-counter-one-line {
    margin-left: 0.2em;
    width: 2em;
    position: absolute;
    bottom: 0.5em;
    right: -0.5em;
}

div.shl-char-counter-title-joomla-be {
    margin-left: 0.2em;
    width: 2em;
    position: absolute;
    bottom: 3em;
    right: 0em;
}

div.shl-char-counter-desc-joomla-be {
    margin-left: 0.2em;
    width: 2em;
    position: absolute;
    bottom: 0.5em;
    right: -4em;
}

@media ( max-width : 480px) {
    div.shl-char-counter-one-line {
        margin-left: 0.2em;
        width: 2em;
        position: absolute;
        bottom: 3em ! important;
        right: 3em! important;
    }
}

span.shl-char-counter {
    position: relative;
}

div.shl-char-counter-wrapper {
    position: relative;
    display: inline-block; width : auto;
    height: auto;
    width: auto;
}
