.com_acymailing .subhead {
  display: none;
}
#acymenu_leftside .acymenu_slide span {
  height: 40px;
}
#acymenu_leftside .sel a {
  height: auto;
}
#acymenu_leftside .mainelement .acysubmenulink span {
  width: auto;
}
