body.com_k2 .container-fluid {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.isJ30 #k2InfoPage ul.k2ScrollSpyMenu {
  border-left: 0;
  padding-top: 200px;
}
.com_k2 .subhead {
  border-bottom: 0;
}
.k2ViewIsInfo .header {
  z-index: 1030;
}
div#k2QuickIconsTitle a {
  box-sizing: content-box;
}
@media (max-width: 1199px) {
  .com_k2 .admin-container-fluid > .main-content {
    padding-top: 0 !important;
  }
  .com_k2.navbar-horizontal .container-main,
  .com_k2.navbar-vertical .container-main {
    padding-left: 270px !important;
    position: relative;
  }
  .com_k2.navbar-horizontal #content .jsubmenu #sidebar,
  .com_k2.navbar-vertical #content .jsubmenu #sidebar {
    background-color: #eeeeee;
    border: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 18px;
    width: 230px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .com_k2.navbar-horizontal #content .jsubmenu #sidebar .sidebar-nav,
  .com_k2.navbar-vertical #content .jsubmenu #sidebar .sidebar-nav {
    position: relative;
    top: 0;
    left: 0;
    padding-right: 0;
  }
  .com_k2.navbar-horizontal #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list,
  .com_k2.navbar-vertical #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list {
    border-bottom: 0;
  }
  .com_k2.navbar-horizontal #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list > li,
  .com_k2.navbar-vertical #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list > li {
    display: block;
    float: none;
  }
  .com_k2.navbar-horizontal #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list > li a,
  .com_k2.navbar-vertical #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list > li a {
    padding-top: 6px;
    padding-bottom: 6px;
    background: none;
  }
  .com_k2.navbar-horizontal #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list > li a:hover,
  .com_k2.navbar-vertical #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list > li a:hover,
  .com_k2.navbar-horizontal #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list > li a:focus,
  .com_k2.navbar-vertical #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list > li a:focus,
  .com_k2.navbar-horizontal #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list > li a:active,
  .com_k2.navbar-vertical #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list > li a:active {
    color: #1f496e;
  }
  .com_k2.navbar-horizontal #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list > li.active a,
  .com_k2.navbar-vertical #content .jsubmenu #sidebar .sidebar-nav #submenu.nav-list > li.active a {
    color: #1f496e;
  }
}
