div#fd.eb .app-sidebar,
div#fd.eb .app-content {
  display: table-cell;
}
@media (max-width: 991px) {
  body.com_easyblog .container-nav.hidden {
    visibility: visible !important;
    display: block !important;
    float: left;
    position: relative;
    margin-left: 10px;
  }
  body.com_easyblog .container-nav.hidden > a {
    color: #ffffff !important;
    position: static;
  }
  body.com_easyblog div#fd.eb .app-sidebar {
    width: 150px !important;
    padding-right: 9px;
    padding-left: 9px;
  }
  body.com_easyblog div#fd.eb .app-sidebar .app-sidebar-nav {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
html.show-easyblog-sidebar > body.com_easyblog,
html.show-easyblog-sidebar > body.com_easyblog .header-stick,
html.show-easyblog-sidebar > body.com_easyblog .navbar-fixed-top {
  left: 0 !important;
}
.show-easyblog-sidebar body.com_easyblog .app-sidebar {
  position: relative !important;
  left: auto !important;
}
