#kunena-modal {
  left: 50%;
  right: auto;
  bottom: auto;
}
#kunena-modal .modal-body #kunena {
  max-width: none !important;
}
#kunena #j-sidebar-container #sidebar {
  background-color: #eeeeee;
  border: 1px solid #e1e1e1;
  position: absolute;
  top: 0;
  left: 18px;
  width: 230px;
}
#kunena #j-sidebar-container #sidebar .sidebar-nav {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
}
#kunena #j-sidebar-container #sidebar .sidebar-nav .nav-list > li {
  display: block;
  float: none;
}
#kunena #j-sidebar-container #sidebar .sidebar-nav .nav-list > li a {
  padding-top: 6px;
  padding-bottom: 6px;
}
#kunena #j-sidebar-container #sidebar .sidebar-nav .nav-list > li a:hover,
#kunena #j-sidebar-container #sidebar .sidebar-nav .nav-list > li a:focus,
#kunena #j-sidebar-container #sidebar .sidebar-nav .nav-list > li a:active {
  color: #1f496e;
}
#kunena #j-sidebar-container #sidebar .sidebar-nav .nav-list > li.active a {
  color: #1f496e;
}
