body {
	background-color: __styleBgColor;
	color: __styleTextColor;
	font-size: __styleBodyFontSize;
	font-weight: __styleBodyFontWeight;
}

.header .container-logo {
  background-color: __styleLogoBgColor;
}

/* Internal url */
/* ?styleLogoImage!~^(https?:)?// */
a.admin-logo {
  background: url({__rootUrl}__styleLogoImage) no-repeat;
  text-indent: -999em;
}
/* /styleLogoImage */

/* External URL */
/* ?styleLogoImage~^(https?:)?// */
a.admin-logo {
  background: url(__styleLogoImage) no-repeat;
  text-indent: -999em;
}
/* /styleLogoImage */

/* Internal url */
/* ?styleLogoSmImage!~^(https?:)?// */
@media (max-width: 991px) {
  a.admin-logo-sm {
    background: url({__rootUrl}__styleLogoSmImage) no-repeat;
  }
}
/* /styleLogoSmImage */

/* External URL */
/* ?styleLogoSmImage~^(https?:)?// */
@media (max-width: 991px) {
  a.admin-logo-sm {
    background: url(__styleLogoSmImage) no-repeat;
  }
}
/* /styleLogoSmImage */


a {
	color: __styleLinkColor;
}

a:hover, a:focus, a:active {
	color: __styleLinkHoverColor;
}

/* common style */
h1, h2, h3, h4, h5, h6 {
	font-family: __styleHeadingFont;
}


/* JOOMLA STYLE
--------------------------------------- */
h2.item-title,
.item-title h2,
.item-page .page-header h2 {
	font-family: __styleHeadingFont;
}


.items-row .item {
	font-size: __styleBodyFontSize;
}

/* Header */
.header {
	background-color: __styleHeaderBgColor;
	border-color: __styleHeaderBorderColor;
	color: __styleHeaderTextColor;
}

.header .container-logo {
	width: __styleLogoWidth;
	height: __styleLogoHeight;
}

.header .nav-user > li > a {
	color: __styleHeaderLinkColor;
	height: __styleLogoHeight;
	line-height: __styleLogoHeight;
}

.header .nav-user > li > a:hover, 
.header .nav-user > li > a:focus, 
.header .nav-user > li > a:active {
	color: __styleHeaderLinkHoverColor;
}

.header .container-title h1 {
	color: __styleHeaderTextColor;
}

.header .search input,
.header .search .btn {
  background: __styleSearchBg;
  border-color: __styleSearchBg;
  color: __styleSearchTextColor;
}

/* Main navigation */
.sidebar {
	background-color: __styleMenuBgColor;
	border-color: __styleMenuBorderColor;
}

.sidebar #menu > li > a,
.sidebar #vm-menu > li > a, 
#sidebar #menu > li > a {
	color: __styleMenuColor;
	border-bottom-color: __styleMenuBorderColor;
}

.sidebar #menu > li > a .caret,
.sidebar #vm-menu > li > a .caret,
#sidebar #menu > li > a .caret {
  border-top-color: __styleMenuColor;
  border-bottom-color: __styleMenuColor;
}

.sidebar #menu > li.active > a,
.sidebar #vm-menu > li.active > a, 
#sidebar #menu > li.active > a {
	color: __styleMenuActiveColor;
}

.sidebar #menu > li > a:hover,
.sidebar #menu > li > a:focus,
.sidebar #menu > li > a:active,
.sidebar #vm-menu > li > a:hover,
.sidebar #vm-menu > li > a:focus,
.sidebar #vm-menu > li > a:active,
#sidebar #menu > li > a:hover,
#sidebar #menu > li > a:focus,
#sidebar #menu > li > a:active {
  background-color: __styleMenuHoverBgColor;
	color: __styleMenuHoverColor;
}


/* Dropdown menu */
.sidebar #menu > li > a + .dropdown-menu,
.sidebar #vm-menu > li > a + .dropdown-menu, 
#sidebar #menu > li > a + .dropdown-menu {
  background: __styleSubnavBgColor;
}

.sidebar #menu > li > a + .dropdown-menu > li > a, 
.sidebar #vm-menu > li > a + .dropdown-menu > li > a, 
#sidebar #menu > li > a + .dropdown-menu > li > a {
	color: __styleSubnavTextColor;
}

.dropdown-menu > .active > a {
  background: __styleSubnavActiveBgColor;
  color: __styleSubnavActiveColor;
}

.sidebar #menu .dropdown-menu > .dropdown-submenu:hover > a,
#sidebar #menu .dropdown-menu > .dropdown-submenu:hover > a,
.sidebar #menu .dropdown-menu > .dropdown-submenu:focus > a,
#sidebar #menu .dropdown-menu > .dropdown-submenu:focus > a,
.sidebar #menu .dropdown-menu > .dropdown-submenu:active > a,
#sidebar #menu .dropdown-menu > .dropdown-submenu:active > a,
.sidebar #vm-menu .dropdown-menu > .dropdown-submenu:hover > a,
.sidebar #vm-menu .dropdown-menu > .dropdown-submenu:hover > a,
.sidebar #vm-menu .dropdown-menu > .dropdown-submenu:hover > a {
  background: __styleSubnavHoverBgColor;
  color: __styleSubnavHoverColor;
}

.sidebar #menu > li > a + .dropdown-menu .dropdown-submenu:hover .dropdown-menu,
.sidebar #vm-menu > li > a + .dropdown-menu .dropdown-submenu:hover .dropdown-menu,
#sidebar #menu > li > a + .dropdown-menu .dropdown-submenu:hover .dropdown-menu {
  background: __styleSubnavHoverBgColor;
  color: __styleSubnavHoverColor;
}

.sidebar #menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #vm-menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #vm-menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #vm-menu > li > a + .dropdown-menu > li > a:hover, 
#sidebar #menu > li > a + .dropdown-menu > li > a:hover, 
.sidebar #menu > li > a + .dropdown-menu > li > a:focus, 
#sidebar #menu > li > a + .dropdown-menu > li > a:focus, 
.sidebar #menu > li > a + .dropdown-menu > li > a:active, 
#sidebar #menu > li > a + .dropdown-menu > li > a:active {
	background-color: __styleSubnavHoverBgColor;
	color: __styleSubnavHoverColor;
}

@media (max-width: 1199px) {
  .navbar-horizontal .admin-container-fluid > .sidebar #menu > li > a {
    border-bottom-color: __styleMenuBorderColor;
  }
}

/* ?styleMenuPosition=1 */
/* HORIZONTAL MENU */
.admin-container-fluid > .sidebar {
  float: none;
  height: auto;
  position: relative;
  top: auto;
  left: auto;
  width: auto;
}

.admin-container-fluid > .main-content {
  padding-left: 0;
}

.sidebar {
  border: 0;
}

.sidebar .sidebar-title {
  display: none;
}

.sidebar #menu {
  float: left;
  margin-bottom: 0;
  border-bottom: 0;
}

.sidebar #menu li {
  display: inline-block;
  position: relative;
}

.sidebar #menu li > a {
  border: 0;
  padding-left: 5px;
  padding-right: 10px;
}

.sidebar #menu li > a .caret {
  position: relative;
  right: auto;
  margin-left: 5px;
}

.sidebar #menu > li > a + .dropdown-menu,
#sidebar #menu > li > a + .dropdown-menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 200px;
}

.sidebar #menu .dropdown-menu li {
  display: block;
}

.sidebar #menu .dropdown-menu li .dropdown-submenu {
  position: relative;
  display: block;
}

.sidebar #menu .dropdown-menu li .dropdown-submenu .dropdown-menu {
  top: 0;
  right: auto;
  left: 180px;
  width: 200px;
}

#content .sidebar-nav {
  left: 0;
  top: 140px;
}

@media (max-width: 1199px) {
  .navbar-horizontal .admin-container-fluid > .sidebar #menu > li > a {
    border-bottom-color: __styleMenuBorderColor;
  }
}

/* /styleMenuPosition */


/* Search form */
.header .search input,
.header .search .btn {
	background-color: __styleSearchBgColor;
	color: __styleSearchTextColor;
	border-color: __styleSearchBgColor;
}

.header .search input:focus {
	color: __styleSearchTextColor;
}

.header .search .search-result > ul {
	background-color: __styleSearchResultBgColor;
	color: __styleSearchResultTextColor;
	border-color: __styleSearchResultBorderColor;
}


/* Status
--------- */
#status {
	background: __styleStatusBgColor;
	border-color: __styleStatusBorderColor;
	color: __styleStatusTextColor;
}

#status .btn-toolbar {
	background: __styleStatusBgColor;
}

#status a {
	color: __styleStatusLinkColor;
}

#status a:hover, #status a:focus, #status a:active {
	color: __styleStatusLinkHoverColor;
}

#status .nav > li::before {
	color: __styleStatusTextColor;
}


/* LOGIN PAGE
--------------------------------------- */
.view-login {
	background-color: __styleLoginFormBgColor;
}

.view-login .navbar-fixed-bottom {
	color: __styleLoginTextColor;
}

.view-login .navbar-fixed-bottom a {
	color: __styleLoginLinkColor;
}

.view-login .navbar-fixed-bottom a:hover,
.view-login .navbar-fixed-bottom a:focus,
.view-login .navbar-fixed-bottom a:active {
	color: __styleLoginLinkHoverColor;
}

/* Internal url */
/* ?styleLoginLogoSmImage!~^(https?:)?// */
.view-login .navbar-fixed-bottom a.login-joomla span {
  background: url({__rootUrl}__styleLoginLogoSmImage) no-repeat;
  height: 24px;
  width: 24px;
}

.view-login .navbar-fixed-bottom a.login-joomla span::before {
  display: none;
}
/* /styleLoginLogoSmImage */

/* External URL */
/* ?styleLoginLogoSmImage~^(https?:)?// */
.view-login .navbar-fixed-bottom a.login-joomla span {
  background: url(__styleLoginLogoSmImage) no-repeat;
  height: 24px;
  width: 24px;
}

.view-login .navbar-fixed-bottom a.login-joomla span::before {
  display: none;
}
/* /styleLoginLogoSmImage */


/* ?styleLoginLogoImage!~^(https?:)?// */
.view-login .login-logo {
	background: url({__rootUrl}__styleLoginLogoImage) no-repeat top center;
}
/* /styleLoginLogoImage */

/* ?styleLoginLogoImage~^(https?:)?// */
.view-login .login-logo {
	background: url(__styleLoginLogoImage) no-repeat top center;
}
/* /styleLoginLogoImage */


/* Login form */
.view-login #form-login .btn-block {
  background: __styleLoginFormButtonBg;
  color: __styleLoginFormBtnTextColor;
}

.view-login #form-login .btn-block:hover {
  background: __styleLoginFormButtonBgHover;
  color: __styleButtonTextHoverColor;
}