/** 
 *------------------------------------------------------------------------------
 * @package       JA ADMIN
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2016 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt
 *------------------------------------------------------------------------------
**/


// ------------------------------------------------------
// FORM ELEMENTS
// ------------------------------------------------------

//
// GENERIC STYLES (forms.less)
// --------------------------------------------------

form {
}

fieldset {
  .form-group {
    margin-left: -15px;
    margin-right: -15px;

    > div,
    > label,
    > span {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

legend {
}

label {
}


// Adjust output element
output {
}

// Common form controls
// --------------------
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
  box-sizing: content-box;
  height: 26px;
  -webkit-appearance: none;
  -webkit-border-radius: @borderRadiusSmall;
}

.form-control {

  // Placeholder
  .placeholder();

  // Disabled and read-only inputs
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}

// Checkboxes and radios
// ---------------------
.radio,
.checkbox {
  label {
    display: inline;
  }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
}

.radio + .radio,
.checkbox + .checkbox {
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
}


// Form control sizing
// -------------------
.input-sm {
}

.input-lg {
}


// Form control feedback states
// ----------------------------
// Apply contextual and semantic states to individual form controls.

// Warning
.has-warning {
}
// Error
.has-error {
}
// Success
.has-success {
}


// Static form control text
// ------------------------
// Apply class to a `p` element to make any string of text align with labels in
// a horizontal form layout.

.form-control-static {
  margin-bottom: 0; // Remove default margin from `p`
}


// Help text
// ---------
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help-block {
}

// Inline forms
// ------------
// Make forms appear inline(-block) by adding the `.form-inline` class. Inline
// forms begin stacked on extra small (mobile) devices and then go inline when
// viewports reach <768px.
//
// Requires wrapping inputs and labels with `.form-group` for proper display of
// default HTML form controls and our custom form controls (e.g., input groups).
//
// Heads up! This is mixin-ed into `.navbar-form` in navbars.less.

.form-inline {

  @media (min-width: @screen-sm) {

    .form-group  {
      display: inline-block;
    }

    // In navbar-form, allow folks to *not* use `.form-group`
    .form-control {
      display: inline-block;
    }

    // Remove default margin on radios/checkboxes that were used for stacking, and
    // then undo the floating of radios and checkboxes to match (which also avoids
    // a bug in WebKit: https://github.com/twbs/bootstrap/issues/1969).
    .radio,
    .checkbox {
    }

    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
      float: none;
    }

  }

  // End
}


//
// BUTTONS (buttons.less)
// --------------------------------------------------
.add-on {
  box-sizing: content-box;
}

// Base styles
// --------------------------------------------------

// Core styles
input.btn,
button.btn,
a.btn,
span.btn {
  background-image: none;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  box-shadow: none;
  height: 36px;
  line-height: 26px;

  &:focus {
  }

  &:hover,
  &:focus {
  }

  &:active,
  &.active {
    box-shadow: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
  }

  .icon-featured,
  .icon-default {
    color: @yellow;
  }

  .icon-delete, 
  .icon-remove, 
  .icon-cancel-2,
  .icon-cancel,
  .icon-unpublish,
  .icon-trash {
    color: @red;
  }

  .icon-edit {
    color: @blue;
  }

  .icon-publish, 
  .icon-save, 
  .icon-ok, 
  .icon-save-new, 
  .icon-save-copy, 
  .icon-copy {
    color: @green;
  }

  .caret {
    margin-top: 10px;
  }
}

.btn.btn-micro,
.btn-group > .btn-mini {
  height: 18px;
  line-height: 18px;
}

a.btn {
  &.active,
  &:active {
    box-shadow: none;
    line-height: 18px;
  }
}

.btn-dashboard-manage {
  background: @blue;
  border-color: @blue;
  border-radius: 2px;
  box-shadow: none;
  color: @white;
  height: 36px;
  line-height: 26px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-shadow: none;

  &:hover, &:focus, &:active {
    background: darken(@blue, 5%);
    border-color: darken(@blue, 5%);
    color: @white;
  }

  i.icon-edit {
    color: @white !important;
  }
}

// Select
select {
  height: 36px;
}

// Control group yes / no
.controls .btn-group.btn-group-yesno {
  padding-top: 0;

  &:first-of-type {
    border-radius: 2px 0 0 2px;
  }

  &:last-of-type {
    border-radius: 0 2px 2px 0;
  }

  label {
    background-color: lighten(@grayLighter, 3%);
    border-color: lighten(@grayLight, 25%);
  }

  & > label.btn {
    background-image: none;
    box-shadow: none;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

// Input media type
.input-prepend {
  .field-media-preview {
    height: 26px;
    line-height: 26px;
    padding: 4px 6px 4px 8px;
  }

  .field-media-input {
    background-color: @white;
    box-shadow: none;
  }

  .button-select {
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .button-clear {
    height: 26px;
    line-height: 26px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.input-append {
  input.btn,
  button.btn {
   border-color: #bbb; 
  }
}

// Button group
#moduleList .btn-group {
  .btn,
  button {
    background: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: none;
    color: @red;
    font-size: 12px;
    height: 32px;
    padding-left: 8px;
    width: 32px;
    text-align: center;
    line-height: 32px;

    &.active {
      color: @green;
    }

    .caret {
      margin-top: 13px;
    }
  }

  .dropdown-menu {
    border-radius: 0;
    padding: 0;

    & > li > a {
      color: @grayDark;
      padding: 8px 10px;

      span {
        color: @grayLight;
      }

      &:hover, &:focus, &:active {
        background: @grayLighter;
      }
    }

    & > li:first-child > a {
      border-bottom: 1px solid darken(@border-color,10%);
    }
  }
}

.radio.btn-group,
#moduleList .radio.btn-group,
#systemLinks .radio.btn-group {
  label {
    background: lighten(@grayLighter, 3%);
    border-color: lighten(@grayLight, 25%);
    border-radius: 0;
    color: @textColor;
    padding: 8px 10px;
    text-shadow: none;

    &:first-of-type {
      border-radius: 2px 0 0 2px;
    }

    &:last-of-type {
      border-radius: 0 2px 2px 0;
    }

    &.btn-success {
      background-color: @green;
      border-color: @green;
      border-left: 0;
      color: @white;
    }

    &.btn-danger {
      background-color: @red;
      border-color: @red;
      border-right: 0;
      color: @white;
    }
  }
}

.icon-publish {
  &:before {
    color: @green;
  }
}

#systemLinks {
  .iconwrap {
    width: 200px;

    #i_url,
    #image-icon {
      border-radius: 0;
      box-shadow: none;
      width: 60px;
    }

    #image-icon {
      margin-right: 5px;
    }

    #i_url {
      border-radius: 2px 0 0 2px;
    }

    .btn-image {
      border-radius: 0 2px 2px 0;
      border-left: 0;
      height: 32px;
      line-height: 24px;
    }
  }
}


// Edit link
// ---------
a.btn-apply-syslink,
a.btn-edit-syslink,
a.btn-apply-link,
a.btn-cancel,
a.btn-cancels,
a.btn-edit-customlink {
  background: @white;
  border-radius: 2px;
  border: 1px solid lighten(@grayLight, 20%);
  box-shadow: none;
  color: @grayLight;
  float: left;
  padding: 4px 8px;
  margin-right: 2px;

  i {
    font-size: 14px;
  }
}

.chzn-container {
  padding: 0 !important;

  .chzn-single {
    background: transparent;
    border-radius: 3px;
    box-shadow: none;
    height: 36px;
    line-height: 36px;

    b {
      margin-top: 5px;
    }
  }
}