// Login 
// ------------------
.view-login {
  background-color: @loginBackground;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;

  .brand {
    background: @grayLighter;
    border-bottom: 1px solid #ddd;
    margin: -(@global-margin * 2) -(@global-margin * 2) @global-margin * 1.5;
    padding: @global-padding (@global-padding * 2);

    a {
      display: inline-block;
      height: 50px;
      width: 100%;
    }
  }

  .container {
    box-shadow: 4px 4px 0 rgba(0,0,0,0.2);
    top: 50%;
    left: 50%;
    margin-top: -206px;
    margin-left: -225px;
    position: absolute;
    width: 410px;

    @media (max-width: 500px) {
      left: @gridGutterWidth;
      right: @gridGutterWidth;
      margin-left: 0;
      width: auto;
    }
  }

  #element-box {
    background-color: @white;
    padding: @global-padding * 2;
    .border-radius(@baseBorderRadius);

    > h1 {
      color: #666;
      margin-top: 0;
      margin-bottom: @global-margin * 2;
    }

    .message {
      color: #666;
      margin-bottom: @global-margin;
    }

    #system-message-container {
      padding: 0;

      button.close {
        margin-top: 5px;
      }
    }
  }

  #form-login {
    margin-bottom: 0;

    .input-prepend {
      border: 1px solid #ddd;
      transition: all 0.35s;
      width: 100%;

      &:hover {
        border-color: #999;
        box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.1);
      }

      div#lang_chzn.chzn-container {
        max-width: 293px !important;
        width: 293px !important;

        .chzn-single {
          background: none !important;
          border: 0;
          border-radius: 0;
          height: 46px;
          line-height: 46px;
          width: 293px !important;

          b {
            margin-top: 10px;
          }
        }

        .chzn-drop {
          border-radius: 0;
          max-width: 293px !important;
          width: 293px !important;
        }
      }

      .add-on {
        background-color: #fff;
        border: 0;
        border-right: 0;
        border-radius: 0;
        color: #ccc;
        font-size: 18px;
        margin: 0;
        padding: 14px 10px 14px 15px;
      }

      .input-medium {
        box-shadow: none;
        border: 0;
        padding: 14px 15px 14px 0;
        font-size: 16px;
        width: 250px;

        &:focus {
          border-color: transparent;
          background-color: transparent;
          outline: none;
        }
      }

      .btn {
        background: @white;
        border: 0;
        color: #ccc;
        border-radius: 0;
        font-size: 16px;
        line-height: 1;
        margin: 0;
        padding: 14px 15px 14px 10px;
      }
    }

    .btn-block {
      background: #0d47a1;
      box-sizing: border-box;
      border: 0;
      box-shadow: none;
      font-size: 15px;
      font-weight: 600;
      height: 50px;
      margin-top: @global-margin * 1.5;
      letter-spacing: 1px;
      text-transform: uppercase;

      span {
        opacity: 0.5;
      }

      &:hover {
        background-color: darken(#0d47a1, 5%);

        span {
          opacity: 1;
        }
      }
    }
  }

  &.bg-img {
    .navbar {
      background-color: rgba(0,0,0,0.5);
    }
  }

  .navbar-fixed-bottom {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    bottom: 0;

    p {
      margin: 0;
    }
  }

  .navbar-fixed-bottom,
  .navbar-fixed-bottom a {
    color: #fcfcfc;
  }

  .navbar-inverse.navbar-fixed-bottom,
  .navbar-inverse.navbar-fixed-bottom a {
    color: @gray;
  }

  .well {
    padding-bottom: 0;
  }

  .login-joomla {
    position: absolute;
    left: 50%;
    height: 24px;
    width: 24px;
    margin-left: -12px;
    font-size: 22px;
  }

  .navbar-fixed-bottom {
    position: fixed;
    padding-bottom: @global-padding;
  }

  .control-group {
    margin-bottom: 0;

    & + .control-group {
      margin-top: @global-margin;
    }
  }

  .input-medium {
    width: 300px;
    padding: @paddingLarge;
    height: auto;
    box-sizing: border-box;
  }

  .input-append .add-on, 
  .input-prepend .add-on,
  .input-append .btn,
  .input-prepend .btn {
    padding: @paddingLarge;
    height: auto;
  }
}

.login {
  .chzn-single {
    width: 222px !important;
  }

  .chzn-container,
  .chzn-drop {
    width: 230px !important;
    max-width: 230px !important;
  }

  .btn-large {
    margin-top: 15px;
  }
  
  .form-inline .btn-group {
    display:block;
  }
}