// ---------------------
// MODULES
// ---------------------

// NEWSFEED
// ---------
.feed {
  > h2 {
    margin-top: 0;
    font-size: @fontSizeLarge;
    text-transform: uppercase;
  }

  ul.newsfeed {
    list-style: none;
    margin-left: 0;

    .feed-item-description {
      br {
        display: none;
      }
    }
  }
}


// Search
// ----------
.header .search {
  position: relative;
  float: right;
  margin-right: @gridGutterWidth;

  #search-searchword {
    float: right;
  }

  .btn {
    background: @grayDark;
    border-color: @grayDark;
    color: @white;
    float: right;
    border-bottom-right-radius: @inputBorderRadius;
    border-top-right-radius: @inputBorderRadius;
    text-shadow: none;
  }

  @media (max-width: @screen-sm-max) {
    position: absolute;
    right: 180px;
    left: auto;

    &.search-focus {
      left: 240px;

      input,
      input:focus {
        width: calc(~"100% - 69px");
      }

      .search-result {
        margin-top: 30px;
        width: 100%;
      }
    }

    input {
      width: 45px;
    }
  }

  .search-result {
    background: @white;
    border: 1px solid lighten(@grayLight, 10%);
    box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
    color: @textColor;
    display: none;
    padding: @global-padding / 2;
    position: absolute;
    max-height: 300px;
    margin-top: 30px;
    overflow-y: auto;
    width: 218px;

    @media (max-width: @screen-sm-max) {
      margin-top: @global-padding / 2;
    }

    > ul {
      list-style: none;
      margin: 0;
      background-color: @white;
      border: 1px solid @border-color;
      padding: 0 @global-padding;
    }

    li {
      padding-left: @global-padding;
      margin-bottom: @global-margin / 2;
      font-size: @fontSizeSmall;

      a {
        color: @gray;
        display: block;
        .text-overflow();
      }

      &.type {
        background-color: darken(@wellBackground, 5%);
        color: @grayDark;
        font-weight: bold;
        margin-left: -@global-margin;
        margin-right: -@global-margin;
        margin-bottom: 5px;
        padding: (@global-padding / 2) @global-padding;
        text-transform: uppercase;
      }

      &.group {
        padding-left: 0;
        margin-bottom: 0;

        strong {
          color: @grayDark;
          display: inline-block;
        }
      }

      .search-query {
        background-color: #ffff96;
        text-transform: none;
        font-weight: normal;
      }

      .btn-search-more {
        background-color: #ccc;
        border-radius: 2px;
        display: inline-block;
        cursor: pointer;
        color: @white;
        font-weight: normal;
        line-height: 1;
        padding: 4px 6px;
        text-transform: none;

        &:hover, &:focus, &:active {
          background-color: @blue;
          color: @white;
        }
      }

      .btn-search-more-clear {
        text-decoration: line-through;
      }
    }
  }
}