// Typography 
a:hover,
a:active,
a:focus {
  outline: none;
}

.small {
  font-size: 11px;
}

.row-even .small,
.row-odd .small,
.row-even .small a,
.row-odd .small a {
  color: #888;
}

// Module list striped
// -------------------
ul.list-striped {
  border-top: 0;
  display: block;
  margin-left: -@global-padding;
  margin-right: -@global-padding;
  overflow: hidden;

  li {
    border-bottom: 1px solid @border-color;
    padding: 10px 10px 10px 0;
    margin-left: @global-padding;
    margin-right: @global-padding;
    width: 45%;
    float: left;

    &:nth-child(2n+1) {
      background-color: transparent;
    }

    &:nth-child(2n):hover {
      background-color: transparent;
    }
  }
}

.readonly {
  color: @grayLight;
  font-size: @fontSizeSmall;
}