#je-login { margin:0; position:relative; text-shadow:none!important}

#je-login a.je_button, a.je_dropbtn {margin:10px 0; text-decoration:none!important}
#je-login input.je_button, 
#je-login a.je_button,
#je-login .je_button,
#je-login a.je_button span, 
a.je_dropbtn span { -webkit-border-radius: 6px; -moz-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; cursor:pointer; text-shadow:none!important }
#je-login .je_button {  padding:0; cursor: pointer; display: inline-block; white-space: nowrap; nowhitespace: afterproperty; text-align: center; }
#je-login .je_button span,  a span.je_dropbtn-inner{ padding:10px 15px; /*height:40px; line-height:40px*/ }

#je-login input.je_input { width:100%}

#je-login .link-options span { display:block; clear:both} 
#je-login .link-options span a{ padding:5px 0 5px 20px; line-height:20px}
#je-login .link-options span.je_pass a{ background:url(../img/pass.png)0 50% no-repeat}
#je-login .link-options span.je_user a{ background:url(../img/user.png)0 50% no-repeat}
#je-login .link-options span.je_add a{ background:url(../img/add.png)0 50% no-repeat}


#je-login .je_hello { height:40px; line-height:40px; display:inline-block}
#je-login .je_check { display: inline-block}
#je-login .je_loginbtn { display: inline-block; height:12px; line-height:12px; padding:0}


#je-login input[type="checkbox"] { display:inline; width:20px; padding:0; margin:0}

input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="tel"]:focus,textarea:focus { color: #676767; outline: none; }

#je-login input[type="text"],
#je-login input[type="password"],
#je-login input[type="email"]
{ max-width: 100%; -moz-box-sizing: border-box; -webkit-appearance: none; -webkit-box-sizing: border-box; background: transparent; border: 1px solid #ddd; box-sizing: border-box; color: #606060; display: block; padding: 0 10px; height:40px; line-height:40px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; margin:0 0 10px 0 }

#je-login button,
#je-login input[type="button"],
#je-login input[type="submit"] {
	padding: 17px;
	    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid solid solid solid;
    border-color: #fff;
    background: #1279BF;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    outline: none;
        line-height: 3px;
	
}

#je-login button:hover,
#je-login input[type="button"]:hover,
#je-login input[type="submit"]:hover {}


/* horizontal styles*/
#je-login.je_horiz  input[type="text"],
#je-login.je_horiz  input[type="password"],
#je-login.je_horiz  input[type="email"]
{ max-width:120px!important; display:inline-block}
#je-login.je_horiz  span { display:inline-block; clear:none} 

#loginButtonContainer130 {
     float: none !important; 
}

.link-options{
	text-align: left !important;
    margin-top: 5px !important;
}

.je_logged{
	margin-top: 2px;
}


